<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>客户列表</title>
    <meta name="keywords" content="">
    <meta name="description" content="">

    <link rel="shortcut icon" th:href="@{favicon.ico}">
    <link href="../../static/css/bootstrap.min.css?v=3.3.6" th:href="@{/static/css/bootstrap.min.css(v=3.3.6)}"
          rel="stylesheet">
    <link href="../../static/css/font-awesome.css?v=4.4.0" th:href="@{/static/css/font-awesome.css(v=4.4.0)}"
          rel="stylesheet">

    <!--BootStrap_Table样式-->
    <link href="../../static/css/plugins/bootstrap-table/bootstrap-table.min.css"
          th:href="@{/static/css/plugins/bootstrap-table/bootstrap-table.min.css}" rel="stylesheet">
    <!-- Sweet Alert -->
    <link href="../../static/css/plugins/sweetalert/sweetalert.css"
          th:href="@{/static/css/plugins/sweetalert/sweetalert.css}" rel="stylesheet">
    <!--滑动checkbox-->
    <link href="../../static/css/plugins/switchery/switchery.css"
          th:href="@{/static/css/plugins/switchery/switchery.css}"
          rel="stylesheet">
    <!--summernote文本编辑器-->
    <link href="../../static/css/plugins/summernote/summernote.css"
          th:href="@{/static/css/plugins/summernote/summernote.css}" rel="stylesheet">
    <link href="../../static/css/plugins/summernote/summernote-bs3.css"
          th:href="@{/static/css/plugins/summernote/summernote-bs3.css}" rel="stylesheet">

    <link href="../../static/css/animate.css" th:href="@{/static/css/animate.css}" rel="stylesheet">
    <link href="../../static/css/style.css?v=4.1.0" th:href="@{/static/css/style.css(v=4.1.0)}" rel="stylesheet">
    <style type="text/css">
        .table > thead > tr > th    {
            color: #2a62bc;
        }
        .form-inline>.btn:not(.query){
            margin-left: 0.8%;
            float: right;
        }
    </style>
</head>

<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">

        <div class="col-sm-12">
            <table id="chapter_table" data-mobile-responsive="true"></table>
        </div>

    </div>
    <div id="toolbar2">
        <button type="button" class="btn btn-primary" id="addChapterBtn">添加章</button>
    </div>
</div>
<!--添加章  模态框-->
<div class="modal fade" tabindex="-1" role="dialog" id="addChapterModel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">新增</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" method="post" id="addChapterForm">
                    <div class="form-group">
                        <label for="add_courseName" class="col-sm-2 control-label">课程名称:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="add_courseName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="add_chapterNumber" class="col-sm-2 control-label">章编号:</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" id="add_chapterNumber">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="alter_chapterName" class="col-sm-2 control-label">章名称:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="add_chapterName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="alter_status" class="col-sm-2 control-label">是否启用:</label>
                        <div class="col-sm-8">
                            <input type="checkbox" class="js-switch-1 form-control " id="add_status" checked/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="alter_chapterDesc" class="col-sm-2 control-label">章描述:</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" rows="4" id="add_chapterDesc"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="save_chapter">保存</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--修改章  模态框-->
<div class="modal fade" tabindex="-1" role="dialog" id="alterChapterModel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">修改</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <input class="hidden" id="alter_chapterId">
                    <div class="form-group">
                        <label for="alter_courseName" class="col-sm-2 control-label">课程名称:</label>
                        <div class="col-sm-8">
                            <input type="text" readonly class="form-control" id="alter_courseName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="alter_chapterNumber" class="col-sm-2 control-label">章节编号:</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" id="alter_chapterNumber">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="alter_chapterName" class="col-sm-2 control-label">章节名称:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="alter_chapterName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="alter_status" class="col-sm-2 control-label">是否启用:</label>
                        <div class="col-sm-8">
                            <input type="checkbox" class="js-switch-1 form-control" id="alter_status" checked/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="alter_chapterDesc" class="col-sm-2 control-label">章描述:</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" rows="4" id="alter_chapterDesc"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="alter_chapter">保存</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--添加节  模态框-->
<div class="modal fade" tabindex="-1" role="dialog" id="addNodeModel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">新增</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" method="post" enctype="multipart/form-data" name="add_section_form">
                    <input type="hidden" id="chapterId" name="chapterId">
                    <div class="form-group">
                        <label for="addNode_chapterName" class="col-sm-2 control-label">章名称:</label>
                        <div class="col-sm-8">
                            <input type="text" disabled class="form-control" id="addNode_chapterName" name="chapterName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="addNode_nodeNum" class="col-sm-2 control-label">节编号:</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" id="addNode_nodeNum" name="sectionNumber">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="addNode_nodeName" class="col-sm-2 control-label">节名称:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="addNode_nodeName" name="sectionName">
                        </div>
                    </div>
                    <!-- <div class="form-group">
                         <label for="addNode_status" class="col-sm-2 control-label">是否启用:</label>
                         <div class="col-sm-8">
                             <input type="text" class="form-control" id="addNode_status">
                         </div>
                     </div>-->
                    <div class="form-group">
                        <label for="addNode_experiment" class="col-sm-2 control-label">是否实验:</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input type="text" class="form-control" id="addNode_experiment" name="experiment">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-white dropdown-toggle"
                                            data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                    </ul>
                                </div>
                            </div>
                            <!--<input type="text" class="form-control" id="addNode_experiment">-->
                        </div>
                    </div>
                    <div class="form-group  hidden n_hidden">
                        <label for="addNode_experiment" class="col-sm-2 control-label">实验简介:</label>
                       <!-- <div class="col-sm-8">
                            &lt;!&ndash; <input type="text" class="form-control" id="addNode_experimentDesc">&ndash;&gt;
                            &lt;!&ndash;富文本框编辑器&ndash;&gt;
                            <div id="addNode_experimentDesc" name="experimentInstrusction"></div>
                        </div>-->
                        <div class="col-sm-8">
                            <textarea rows="4" class="form-control" id="addNode_experimentDesc" name="experimentInstrusction"></textarea>
                        </div>
                    </div>
                    <div class="form-group  hidden n_hidden" id="file-pretty">
                        <label for="addNode_experimentDoc" class="col-sm-2 control-label">实验文档:</label>
                        <div class="col-sm-8">
                            <!-- <input type="file" class="form-control" id="addNode_experimentDoc">-->
                            <input type="file" class="form-control" id="addNode_experimentDoc" name="file">
                        </div>
                    </div>
                    <div class="form-group  hidden n_hidden">
                        <label for="addNode_experimentAddr" class="col-sm-2 control-label">实验环境地址:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="addNode_experimentAddr"
                                   placeholder="实验环境地址为放入服务器硬盘上的虚拟机文件地址" name="experimentEnvironmentAddr">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="addNode_NodeDesc" class="col-sm-2 control-label">节描述:</label>
                        <div class="col-sm-8">
                            <textarea rows="4" class="form-control" id="addNode_NodeDesc" name="sectionDesc"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="add_section">保存</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--修改节  模态框-->
<div class="modal fade" tabindex="-1" role="dialog" id="alterNodeModel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">修改</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" method="post" enctype="multipart/form-data" name="update_section_form">
                    <input type="hidden" id="alterChapterId" name="alterChapterId">
                    <input type="hidden" id="sectionId" name="id">
                    <div class="form-group">
                        <label for="alterNode_chapterName" class="col-sm-2 control-label">章名称:</label>
                        <div class="col-sm-8">
                            <input type="text" disabled class="form-control" id="alterNode_chapterName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="alterNode_nodeNum" class="col-sm-2 control-label">节编号:</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" id="alterNode_nodeNum" name="sectionNumber">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="alterNode_nodeName" class="col-sm-2 control-label">节名称:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="alterNode_nodeName" name="sectionName">
                        </div>
                    </div>
                    <!-- <div class="form-group">
                         <label for="addNode_status" class="col-sm-2 control-label">是否启用:</label>
                         <div class="col-sm-8">
                             <input type="text" class="form-control" id="addNode_status">
                         </div>
                     </div>-->
                    <div class="form-group">
                        <label for="alterNode_experiment" class="col-sm-2 control-label">是否实验:</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input type="text" class="form-control" id="alterNode_experiment" name="experiment">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-white dropdown-toggle"
                                            data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                    </ul>
                                </div>
                            </div>
                            <!--<input type="text" class="form-control" id="addNode_experiment">-->
                        </div>
                    </div>
                    <div class="form-group  hidden n_hidden">
                        <label for="addNode_experiment" class="col-sm-2 control-label">实验简介:</label>
                        <div class="col-sm-8">
                            <textarea rows="4" class="form-control" id="alterNode_experimentDesc" name="experimentInstrusction"></textarea>
                        </div>
                    </div>
                    <div class="form-group  hidden n_hidden" id="alter_file-pretty">
                        <label for="alterNode_experimentDoc" class="col-sm-2 control-label">实验文档:</label>
                        <div class="col-sm-8">
                            <!-- <input type="file" class="form-control" id="addNode_experimentDoc">-->
                            <input type="file" class="form-control" id="alterNode_experimentDoc" name="file">
                        </div>
                    </div>
                    <div class="form-group  hidden n_hidden">
                        <label for="alterNode_experimentAddr" class="col-sm-2 control-label">实验环境地址:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="alterNode_experimentAddr"
                                   placeholder="实验环境地址为放入服务器硬盘上的虚拟机文件地址" name="experimentEnvironmentAddr">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="alterNode_NodeDesc" class="col-sm-2 control-label">节描述:</label>
                        <div class="col-sm-8">
                            <textarea rows="4" class="form-control" id="alterNode_NodeDesc" name="sectionDesc"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="update_section">保存</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--上传视频 模态框-->
<div class="modal fade" tabindex="-1" role="dialog" id="uploadVideoModel">
    <div class="modal-dialog model-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">上传视频</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" >
                    <input class="hidden" type="text" id="sectionVideoId">
                    <input class="hidden" type="text" id="planManagerCourseId">
                    <div class="row">
                        <div class="form-group">
                            <label for="sectionNameSet" class="col-sm-2 control-label">节名称:</label>
                            <div class="col-sm-10">
                                <input type="text" name="schemaNameSet" readonly class="form-control"
                                       id="sectionNameSet">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <button type="button" class="btn btn-primary allocation">已分配视频</button>
                                <button type="button" class="btn btn-default choose_video">选择新视频</button>
                            </div>
                        </div>

                    </div>
                    <div class="row" id="allocation_content">
                        <table class="table table-striped" id="allocation_table">
                        </table>
                    </div>
                    <div class="row" id="choose_video_content" style="display: none">
                        <table class="table table-striped" id="choose_video_table"></table>
                    </div>
                </form>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- 全局js -->
<script src="../../static/js/jquery.min.js?v=2.1.4" th:src="@{/static/js/jquery.min.js(v=2.1.4)}"></script>
<script src="../../static/js/bootstrap.min.js?v=3.3.6" th:src="@{/static/js/bootstrap.min.js(v=3.3.6)}"></script>
<!-- Bootstrap table -->
<script src="../../static/js/plugins/bootstrap-table/bootstrap-table.min.js"
        th:src="@{/static/js/plugins/bootstrap-table/bootstrap-table.min.js}"></script>
<script src="../../static/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"
        th:src="@{/static/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js}"></script>
<script src="../../static/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"
        th:src="@{/static/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js}"></script>
<!-- Sweet alert -->
<script src="../../static/js/plugins/sweetalert/sweetalert.min.js"
        th:src="@{/static/js/plugins/sweetalert/sweetalert.min.js}"></script>
<!-- Switchery -->
<script src="../../static/js/plugins/switchery/switchery.js"
        th:src="@{/static/js/plugins/switchery/switchery.js}"></script>
<!--suggest-->
<script src="../../static/js/plugins/suggest/bootstrap-suggest.min.js"
        th:src="@{/static/js/plugins/suggest/bootstrap-suggest.min.js}"></script>
<!-- SUMMERNOTE文本编辑器 -->
<script src="../../static/js/plugins/summernote/summernote.min.js"
        th:src="@{/static/js/plugins/summernote/summernote.min.js}"></script>
<script src="../../static/js/plugins/summernote/summernote-zh-CN.js"
        th:src="@{/static/js/plugins/summernote/summernote-zh-CN.js}"></script>
<!-- Prettyfile -->
<script src="../../static/js/plugins/prettyfile/bootstrap-prettyfile.js"
        th:src="@{/static/js/plugins/prettyfile/bootstrap-prettyfile.js}"></script>


<script>
    $(function () {
        var cid = "[[${courseId}]]";

        /*初始化章表格*/
        $("#chapter_table").bootstrapTable({
            pagination: true,
            pageNumber: 1,                       //初始化加载第一页，默认第一页
            pageSize: 10,                       //每页的记录行数（*）
            pageList: [5, 10],        //可供选择的每页的行数（*）
            search: true,
            toolbar: '#toolbar2',            //包含工具栏中的元素
            detailView: true,       //父子表
            uniqueId: "id",
            queryParams: function (params) {
                var temp = {
                    "a": 1,
                    "b": 2,
                    "limits": params.limit,
                    "offset": params.offset
                }
                return temp;
            },
            /*onLoadSuccess: checkbox_table,
            onPostBody: checkbox_table,*/
            onLoadSuccess: checkbox_table,
            onPageChange: checkbox_table,
            url: "/owep/training/chapter/getAllChapter?courseId="+cid,
            columns: [{
                field: 'id',
                title: 'ID',
                visible: false
            }, {
                field: 'courseName',
                title: '课程名',
                visible: false
            },
                {
                    field: 'chapterNumber',
                    title: '章节编号',
                    align: "center"
                }, {
                    field: 'chapterName',
                    title: '章节名称',
                    align: "center"
                }, {
                    field: 'chapterDesc',
                    title: '章节描述',
                    align: "center"
                }, {
                    field: 'chapterStatus',
                    title: '是否启用',
                    align: "center",
                    formatter: switchBox
                }, {
                    align: "center",
                    width: '20%',
                    title: "操作",
                    events: {
                        "click .alterBtn": function (e, value, row, index) {

                            //把表格数据回显到模态框中
                            $("#alter_courseName").val("[[${courseName}]]");
                            $("#alter_chapterId").val(row.id);
                            $("#alter_chapterNumber").val(row.chapterNumber);
                            $("#alter_chapterName").val(row.chapterName);
                            $("#alter_chapterDesc").val(row.chapterDesc);
                            if (row.chapterStatus == 1) {
                                setSwitchery(switchery, true);
                            } else {
                                setSwitchery(switchery, false);
                            }
                            $("#alterChapterModel").modal();
                        },
                        "click .deleteBtn": function (e, value, row, index) {

                            //采用 sweetalert 组件
                            swal({
                                title: "您确定要删除这条数据吗",
                                text: "删除章节编号" + row.id + "，请谨慎操作！",
                                type: "warning",
                                showCancelButton: true,
                                confirmButtonColor: "#DD6B55",
                                confirmButtonText: "删除",
                                cancelButtonText: "取消",
                                closeOnConfirm: false
                            }, function () {
                                    let id = row.id;

                                    //发送ajax 删除
                                    $.ajax({
                                        url: "/owep/training/chapter/deleteChapterById?id=" + id,
                                        method: "get",
                                        async: true,
                                        data: id,
                                        dataType: "text",   //期望服务端返回的数据类型
                                        contentType: "application/json",
                                        success: function (data) {

                                            swal("删除成功！", "您已经永久删除已选信息", "success");
                                            //重新加载页面
                                            window.location.reload();
                                        },
                                        error: function (jqXHR) {
                                            swal("删除失败！", "未知错误", "error");
                                        }
                                    });
                            });
                        },
                        "click .addBtn": function (e, value, row, index) {
                            $("#addNode_chapterName").val(row.chapterName);
                            $("#chapterId").val(row.id);
                            $("#addNodeModel").modal();
                        },
                    },
                    formatter: function (value, row, index) {
                        return [
                            "<button type='button' class='alterBtn btn btn-primary btn-xs' style='margin-right: 15px;'><i class='fa fa-edit'></i>修改</button>",
                            "<button type='button' class='deleteBtn btn btn-danger btn-xs' style='margin-right: 15px;'><i class='fa fa-trash'></i>删除</button>",
                            "<button type='button' class='addBtn btn btn-info btn-xs' style='margin-right: 15px;'><i class='fa fa-plus'></i>添加节</button>"
                        ].join("");
                    },
                }],
            //注册加载子表的事件。注意下这里的三个参数！
            onExpandRow: function (index, row, $detail) {
                initSubTable(index, row, $detail);
            },
        });
        function switchBox(value, row, index) {

            if (value==1) {
                return '<input type="checkbox" class="js-switch form-control" chapterId="'+row.id+'" checked/>';
            }
            return '<input type="checkbox" class="js-switch form-control" chapterId="'+row.id+'" />';
        }
        //初始化子表
        let initSubTable = function (index, row, $detail) {
            let parentId = row.id;
            let chapterName = row.chapterName;
            let cur_table = $detail.html('<table id="nodeTable"></table>').find('table');
            $(cur_table).bootstrapTable({
                url: '/owep/training/chapter/getSectionById?id='+parentId,
                //   method: 'get',
                queryParams: {id: parentId},
                ajaxOptions: {id: parentId},
                uniqueId: "id",
                striped: true, //是否显示行间隔色
                sidePagination: "client",   //分页不请求后台
                pageNumber: 1,
                height: $(window).height() - 450,
                columns: [{
                    field: 'id',
                    title: '节记录id',
                    visible: false
                }, {
                    field: 'sectionNumber',
                    title: '节编号',
                    width: '10%',
                    align: "center"
                }, {
                    field: 'sectionName',
                    title: '节名称',
                    align: "center"
                }, {
                    field: 'chapterName',
                    title: '章名称',
                    visible: false
                }, {
                    field: 'experiment',
                    title: '是否实验',
                    visible: false
                }, {
                    field: 'experimentInstrusction',
                    title: '实验简介',
                    visible: false
                }
                    ,
                    {
                        field: 'experimentDucumentFile',
                        title: '实验文档路径',
                        visible: false
                    }
                    ,
                    {
                        field: 'experimentEnvironmentAddr',
                        title: '实验环境地址',
                        visible: false
                    }
                    ,
                    {
                        field: 'lookVideoStatus',
                        title: '未登录不可见',
                        visible: false,
                    }
                    , {

                        field: 'sectionDesc',
                        title: '节描述',
                        align: "center"
                    }, {
                        field: 'operation',
                        align: 'center',
                        width: '20%',
                        title: '操作',
                        events: {
                            "click .editNodeBtn": function (e, value, row, index) {

                                //隐藏id

                                $("#alterChapterId").val(parentId);
                                $("#sectionId").val(row.id);
                                $("#alterNode_chapterName").val(chapterName);
                                $("#alterNode_nodeNum").val(row.sectionNumber);
                                $("#alterNode_nodeName").val(row.sectionName);
                                if(row.experiment==1){$("#alterNode_experiment").val("开启实验");}
                                else{$("#alterNode_experiment").val("不开启实验");}
                                //将是否开启实验的隐藏控件显示
                                if (row.experiment != 1) {
                                    $(".n_hidden").addClass("hidden", "hidden");
                                } else {
                                    $(".n_hidden").removeClass("hidden", "hidden");
                                }

                                $("#alterNode_experimentDesc").val(row.experimentInstrusction);
                                $("#alterNode_experimentAddr").val(row.experimentEnvironmentAddr)
                                //还有两个控件没有回显数据。
                                $("#alterNode_NodeDesc").val(row.sectionDesc);

                                //弹出模态框
                                $("#alterNodeModel").modal();
                                //弹出模态框

                            },
                            "click .deleteNodeBtn": function (e, value, row, index) {
                                //采用 sweetalert 组件
                                swal({
                                    title: '您确定要删除该信息吗？',
                                    type: "warning",
                                    showCancelButton: true,
                                    confirmButtonColor: "#DD6B55",
                                    confirmButtonText: "删除",
                                    closeOnConfirm: false
                                }, function () {
                                    let id = row.id;

                                    //发送ajax 删除
                                    $.ajax({
                                        url: "/owep/training/chapter/deleteSectionById?id="+id,
                                        method: "get",
                                        async: true,
                                        data: id,
                                        dataType: "text",   //期望服务端返回的数据类型
                                        contentType: "application/json",
                                        success: function (data) {
                                            ;
                                            swal("删除成功！", "您已经永久删除已选信息", "success");
                                            //重新加载页面
                                            $(cur_table).bootstrapTable("refresh");
                                        },
                                        error: function (jqXHR) {
                                            swal("删除失败！", "未知错误", "error");
                                        }
                                    });
                                    //根据Id字段删除对应的数据
                                    $(event).bootstrapTable('removeByUniqueId', id);

                                    swal("删除成功！", "您已经永久删除信息", "success");
                                });

                            },
                            "click .uploadVideoBtn": function (e, value, row, index) {
                                //TODO
                                //弹出模态框
                                $("#sectionVideoId").val(row.id);
                                $("#sectionNameSet").val(row.sectionName);
                                $("#uploadVideoModel").modal();
                                var opt={
                                    url: "/owep/training/chapter/getVideoById?id="+row.id
                                }
                                $("#allocation_table").bootstrapTable("refresh",opt);
                                //弹出模态框

                            }
                            , "click .unLoginVisibleBtn": function (e, value, row, index) {

                                var videoStatus;
                                //判断 是否可见，再改变图标状态
                                if (row.lookVideoStatus == 1) {
                                    $("#lock").removeClass("fa-unlock").addClass("fa-lock");
                                    videoStatus=0;
                                } else {
                                    $("#lock").removeClass("fa-lock").addClass("fa-unlock");
                                    videoStatus=1;
                                }
                                $.ajax({
                                    url:"/owep/training/chapter/changeVideoStatus?videoStatus="+videoStatus+"&sectionId="+row.id,
                                    method:"get",
                                    success:function () {
                                        swal("修改状态成功！", "您已经修改视频状态", "success");
                                       /* if (row.lookVideoStatus == 0) {
                                            $("#lock").removeClass("fa-unlock").addClass("fa-lock");
                                            //videoStatus=0;
                                        } else {
                                            $("#lock").removeClass("fa-lock").addClass("fa-unlock");
                                            //videoStatus=1;
                                        }*/
                                        $(cur_table).bootstrapTable("refresh");
                                    },
                                    error:function () {
                                        swal("修改状态失败！", "遇到了一些错误", "error");
                                    }
                                })

                            }
                        },

                        formatter: function (value, row, index) {
                            return [
                                "<button type='button' class='editNodeBtn btn btn-primary btn-xs' title='修改' style='margin-right: 15px;'><i class='fa fa-edit'></i> </button>",
                                "<button type='button' class='deleteNodeBtn btn btn-danger btn-xs' title='删除' style='margin-right: 15px;'><i class='fa fa-trash'></i> </button>",
                                "<button type='button' class='uploadVideoBtn btn btn-danger btn-xs' title='视频上传' style='margin-right: 15px;'><i class='fa fa-wrench'></i> </button>",
                                lockVideo(row.lookVideoStatus)
                            ].join("");

                        }
                    }],
                //无线循环取子表，直到子表里面没有记录
                onExpandRow: function (index, row, $Subdetail) {
                    initSubTable(index, row, $Subdetail);
                }
            });
        }
    });
    function lockVideo(value){
        if(value==1){
            return "<button type='button' class='unLoginVisibleBtn btn btn-danger btn-xs' title='未登录可观看' style='margin-right: 15px;'><i class='fa fa-unlock' id='lock'></i> </button>";
        }else{
            return "<button type='button' class='unLoginVisibleBtn btn btn-danger btn-xs' title='未登录可观看' style='margin-right: 15px;'><i class='fa fa-lock' id='lock'></i> </button>";
        }
    }
</script>
<script>

    /*滑动按钮*/
    function checkbox_table() {
        let elems = Array.prototype.slice.call($('.js-switch'));
        let swit;
        elems.forEach(function (html) {
            swit = new Switchery(html, {size: 'normal'});
            $(html).change(function () {
                let chapterId = $(this).attr("chapterId");
                let status;
                if(html.checked==true){
                    alert("章启用"+chapterId);
                    status = 1;
                }else{
                    alert("禁用章"+chapterId);
                    status = 0;
                }
                let switch_data ={
                    "chapterId": chapterId,
                    "status": status
                };

                //Todo Ajax
                $.ajax({
                    url: "/owep/training/chapter/switch",
                    method: "get",
                    async: true,
                    data:switch_data,
                    dataType: "text",   //期望服务端返回的数据类型
                    contentType: "application/json",
                    error: function (jqXHR) {
                        swal("同步失败！", "请稍后重试", "error");
                    }
                });
            })

        });
    }
    /*模态框中的滑动按钮*/
    let elems = Array.prototype.slice.call($('.js-switch-1'));
    let switchery;
    elems.forEach(function (html) {
        switchery = new Switchery(html, {size: 'normal'});
        $(html).change(function () {
            let prop = $(this).prop("checked");
            let parentNode = $(this).parentNode;
            alert(prop);
        })
    });

    /*改变滑动按钮的状态*/
    function setSwitchery(switchElement, checkedBool) {
        if ((checkedBool && !switchElement.isChecked()) || (!checkedBool && switchElement.isChecked())) {
            switchElement.setPosition(true);
            switchElement.handleOnchange(true);
        }
    }
</script>
<script>
    /*suggest */
    $("#addNode_experiment,#alterNode_experiment").bsSuggest({

        indexId: 2, //data.value 的第几个数据，作为input输入框的内容
        indexKey: 1, //data.value 的第几个数据，作为input输入框的内容
        //TODO 通过json显示数据
        data: {
            'value': [
                {
                    'id': "",
                    'word': '开启实验',
                },
                {
                    'id': "",
                    'word': '不开启实验',
                },
            ]
        }
    })

    /*给是否实验添加失去焦点事件*/
    $("#addNode_experiment,#alterNode_experiment").blur(function () {
        if ($(this).val() != "开启实验") {
            $(".n_hidden").addClass("hidden", "hidden");
        } else {
            $(".n_hidden").removeClass("hidden", "hidden");
        }
    });
    /*初始化文件上传*/
    $('#addNode_experimentDoc,#alterNode_experimentDoc,#upload_video').prettyFile();
</script>
<script>
    $(function () {
        /*添加章*/
        $("#addChapterBtn").click(function () {
            $("#add_courseName").val("[[${courseName}]]")
            $("#addChapterModel").modal();
        })
        /*添加章模态框 保存 单击事件*/
        $("#save_chapter").click(function () {
            var chapterNumber = $("#add_chapterNumber").val();
            var chapterName = $("#add_chapterName").val();
            var chapterStatus = $("#add_status").val();
            var chapterDesc = $("#add_chapterDesc").val();
            var courseId = "[[${courseId}]]";

            if($("#add_status").prop("checked")==true){
                chapterStatus = 1;
            }else{
                chapterStatus = 0;
            }
            var chapter = {
                "chapterNumber":chapterNumber,
                "chapterName":chapterName,
                "chapterStatus":chapterStatus,
                "chapterDesc":chapterDesc,
                "courseId":courseId
            }
            //var chapterJSON = JSON.stringify(chapter);
            $.ajax({
                type: "POST",
                url: "/owep/training/chapter/saveChapter",

                data:chapter,
                //contentType:"application/json",
                dataType:"text",
                success: function (data) {
                    alert(data);
                    window.location.reload();
                },
                error: function (jqXHQ) {
                    alert("添加失败");
                }

            });
        })
        $("#alter_chapter").click(function () {
            var id = $("#alter_chapterId").val();

            var chapterNumber = $("#alter_chapterNumber").val();
            var chapterNmae = $("#alter_chapterName").val();
            var chapterStatus = $("#alter_status").val();
            var chapterDesc = $("#alter_chapterDesc").val();
            if(chapterStatus === "on"){
                chapterStatus = 1;
            }else{
                chapterStatus = 0;
            }
            var chapter = {
                "id":id,
                "chapterNumber":chapterNumber,
                "chapterName":chapterNmae,
                "chapterStatus":chapterStatus,
                "chapterDesc":chapterDesc
            }
            var chapterJSON = JSON.stringify(chapter);
            $.ajax({
                type: "POST",
                url: "/owep/training/chapter/updateChapter",

                data:chapterJSON,
                contentType:"application/json",
                dataType:"text",
                success: function (data) {
                    alert(data);
                    window.location.reload();
                },
                error: function (jqXHQ) {
                    alert("添加失败");
                }

            });
        })

        $("#add_section").click(function () {




            var form = document.forms["add_section_form"];

            var formData = new FormData(form);
            var experiment =$("#addNode_experiment").val();
            if(experiment =="开启实验"){
                formData.set("experiment",1);
            }else if(experiment == "不开启实验"){
                formData.set("experiment",0)
            }

            /*var sectionName = $("#addNode_nodeName").val();
            var sectionNumber = $("#addNode_nodeNum").val();
            var experimentDucumentFile*/

            $.ajax({
                url: "/owep/training/chapter/addSection",
                data: formData,
                type: "Post",
                dataType: "json",
                cache: false,//上传文件无需缓存
                processData: false,//用于对data参数进行序列化处理 这里必须false
                contentType: false, //必须
                success: function (data) {
                    alert("添加成功");
                    console.log(data)
                    window.location.reload();
                },
                error: function (jqXRH) {
                    console.log("jqXRH = " + jqXRH);
                    alert("添加失败")
                }
            })
        })
        $("#update_section").click(function () {

            var form = document.forms["update_section_form"];
            var formData = new FormData(form);
            var id = formData.get("id");
            var experiment =$("#alterNode_experiment").val();
            if(experiment =="开启实验"){
                formData.set("experiment",1);
            }else if(experiment == "不开启实验"){
                formData.set("experiment",0)
            }
            $.ajax({
                url: "/owep/training/chapter/updateSection",
                data: formData,
                type: "Post",
                dataType: "json",
                cache: false,//上传文件无需缓存
                processData: false,//用于对data参数进行序列化处理 这里必须false
                contentType: false, //必须
                success: function (data) {
                    alert("修改成功");
                    window.location.reload();
                },
                error: function (jqXRH) {
                    console.log("jqXRH = " + jqXRH);
                    alert("修改失败")
                }
            })
        })
    })


</script>
<script>
    $(function () {
        var id = $("#sectionVideoId").val();
        $("#allocation_table").bootstrapTable({
            pagination: true,
            pageNumber: 1,                       //初始化加载第一页，默认第一页
            pageSize: 6,                      //每页的记录行数（*）
            server: "client",
            uniqueId: "id",
            sortOrder: "asc",
            queryParams: function (params) {
                var temp = {
                    "a": 1,
                    "b": 2,
                    "limits": params.limit,
                    "offset": params.offset
                }
                return temp;
            },
            url: "/owep/training/chapter/getVideoById?id="+id,
            columns: [
                {
                    field: 'id',
                    title: 'ID',
                    visible: false
                },
                {
                    field: 'sectionId',
                    title: 'ID',
                    visible: false
                }, {
                    field: 'videoName',
                    title: '视频名称'
                }, {
                    field: 'videoLength',
                    title: '视频时长',

                }, {
                    align: "center",
                    width: '30%',
                    title: "操作",
                    events: {
                        "click .deleteVideoBtn": function (e, value, row, index) {
                            swal({
                                title: '您确定要删除该信息吗？',
                                type: "warning",
                                showCancelButton: true,
                                confirmButtonColor: "#DD6B55",
                                confirmButtonText: "删除",
                                closeOnConfirm: false
                            }, function () {
                                let id = row.id;
                                let sectionId = row.sectionId;
                                var opt = {
                                    url:"/owep/training/chapter/deleteVideoById?id="+id+"&sectionId="+sectionId
                                }
                                $("#allocation_table").bootstrapTable("refresh",opt);
                                swal("删除成功！", "您已经永久删除已选信息", "success");


                            });
                        }

                    },
                    formatter: function (value, row, index) {
                        return [
                            "<button type='button' class='deleteVideoBtn btn btn-danger btn-xs' title='删除' style='margin-right: 15px;'><i class='fa fa-trash'></i></button>",
                        ].join("");
                    },
                }]
        });
    });
    $(function () {
    $("#choose_video_table").bootstrapTable({
        pagination: true,
        pageNumber: 1,                       //初始化加载第一页，默认第一页
        pageSize: 4,                       //每页的记录行数（*）
        //  pageList: [2, 5, 8, 10],        //可供选择的每页的行数（*）
        search: true,
        //   toolbar: '#toolbar2',            //包含工具栏中的元素
        //  showColumns: true,                  //是否显示所有的列
        //  showRefresh: true,                  //是否显示刷新按钮
        //   showToggle: true,                    //是否显示详细视图和列表视图的切换按钮
        uniqueId: "id",
        queryParams: function (params) {
            var temp = {
                "a": 1,
                "b": 2,
                "limits": params.limit,
                "offset": params.offset
            }
            return temp;
        },
        url: "/owep/training/chapter/getVideo",
        columns: [
            {
                field: 'id',
                title: 'ID',
                visible: false
            }, {
                field: 'videoName',
                title: '视频名称'
            }, {
                field: 'videoLength',
                title: '视频时长',

            }, {
                align: "center",
                width: '30%',
                title: "操作",
                events: {
                    "click .addVideoBtn": function (e, value, row, index) {
                        var videoId = row.id;
                        var sectionId = $("#sectionVideoId").val();
                        var sectionVideo ={
                            "videoId":videoId,
                            "sectionId":sectionId
                        }
                        var opt={
                            url:"/owep/training/chapter/addVideoToSection?videoId="+videoId+"&sectionId="+sectionId
                        }
                        $("#allocation_table").bootstrapTable("refresh",opt);
                        alert("添加成功");
                    }

                },
                formatter: function (value, row, index) {
                    return [
                        "<button type='button' class='addVideoBtn btn btn-primary btn-xs' style='margin-right: 15px;'><i class='fa fa-plus'></i> </button>",
                    ].join("");
                },
            }]
    });
});
    $('.allocation').click(function () {
        $("#allocation_content").css("display", "block");
        $("#choose_video_content").css("display", "none");
        $('.choose_video').removeClass("btn-primary").addClass("btn-default");
        $('.allocation').removeClass("btn-default").addClass("btn-primary");
    });
    $(".choose_video").click(function () {
        $("#allocation_content").css("display", "none");
        $("#choose_video_content").css("display", "block");
        $('.allocation').removeClass("btn-primary").addClass("btn-default");
        $('.choose_video').removeClass("btn-default").addClass("btn-primary");
    })
</script>
</body>
</html>