<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>智慧教育平台-课程列表</title>
    <meta name="keywords" content="">
    <meta name="description" content="">

    <link rel="shortcut icon" th:href="@{favicon.ico}">
    <link href="../../static/css/bootstrap.min.css?v=3.3.6" th:href="@{/static/css/bootstrap.min.css(v=3.3.6)}"
          rel="stylesheet">
    <link href="../../static/css/font-awesome.css?v=4.4.0" th:href="@{/static/css/font-awesome.css(v=4.4.0)}"
          rel="stylesheet">

    <!--滑动checkbox-->
    <link href="../../static/css/plugins/switchery/switchery.css"
          th:href="@{/static/css/plugins/switchery/switchery.css}"
          rel="stylesheet">
    <!--图片剪切-->
    <link href="../../static/css/plugins/cropper/cropper.min.css"
          th:href="@{/static/css/plugins/cropper/cropper.min.css}" rel="stylesheet">
    <!--BootStrap_Table样式-->
    <link href="../../static/css/plugins/bootstrap-table/bootstrap-table.min.css"
          th:href="@{/static/css/plugins/bootstrap-table/bootstrap-table.min.css}" rel="stylesheet">
    <!--datepicker-->
    <!-- <link href="../../static/css/plugins/datapicker/datepicker3.css" th:href="@{/static/css/plugins/datapicker/datepicker3.css}" rel="stylesheet">-->
    <!-- Sweet Alert -->
    <link href="../../static/css/plugins/sweetalert/sweetalert.css"
          th:href="@{/static/css/plugins/sweetalert/sweetalert.css}" rel="stylesheet">

    <link href="../../static/css/animate.css" th:href="@{/static/css/animate.css}" rel="stylesheet">
    <link href="../../static/css/style.css?v=4.1.0" th:href="@{/static/css/style.css(v=4.1.0)}" rel="stylesheet">
    <style type="text/css">
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }

        input[type="number"] {
            -moz-appearance: textfield;
        }

        .table > thead > tr > th {
            color: #2a62bc;
        }

        .form-inline > .btn:not(.query) {
            margin-left: 0.8%;
            float: right;
        }
    </style>
</head>

<body class="white-bg">
<div class="row wrapper border-bottom white-bg page-heading animated fadeInRight">
    <div class="row" style="margin-top: 25px">
        <div class="col-md-6" style="padding-left: 25px">
            <form class="form-inline" th:action="@{/training/courseList/}" method="post">
                <div class="form-group">
                    <label for="courseNameSearch">课程名称:</label>
                    <input type="text" class="form-control" style="width: 130px;border-radius: 5px"
                           id="courseNameSearch" name="courseName">
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary" id="searchCourse">查询</button>
                </div>
            </form>
        </div>
        <div class="col-md-3 col-md-offset-3 text-right" style="padding-right: 25px">
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#add_course_modal">添加</button>
            <button type="button" class="btn btn-danger delete">删除</button>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" style="padding:10px">
    <div class="row">
        <div class="col-sm-12">
            <table id="courseList_table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<!--添加课程模态框-->
<div class="modal fade" tabindex="-1" role="dialog" id="add_course_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">新增</h4>
            </div>
            <div class="modal-body">
                <form method="post" class="form-horizontal" id="course_list_form" name="course_list_form" action="/owep/training/courseList/addCourse" enctype="multipart/form-data">

                    <div class="form-group">

                        <label class="col-sm-2 control-label">课程编号:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="courseNumber" placeholder="请输入课程编号"
                                   id="courseNumber_modal">
                        </div>
                    </div><div class="form-group">
                        <p class="hidden" id="cid">隐藏控件</p>
                        <label class="col-sm-2 control-label">课程名称:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="courseName" placeholder="请输入课程名"
                                   id="courseName_modal">
                        </div>
                    </div>
                    <div class="form-group input-daterange" id="datepicker_cc">
                        <div class="input-daterange input-group" id="datepicker">
                            <label class="col-sm-2 control-label">开始日期:</label>
                            <div class="col-sm-10">
                                <input type="text" class="input-sm form-control" name="startTime"/>
                            </div>
                            <label class="col-sm-2 control-label" style="margin-top: 12px">结束日期:</label>
                            <div class="col-sm-10" style="margin-top: 12px">
                                <input type="text" class="input-sm form-control" name="endTime"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">课程学时:</label>
                        <div class="col-sm-10">
                            <input type="number" placeholder="请输入课程学时" class="form-control" name="coursePeriod">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">课程分类:</label>
                        <div class="col-sm-10">
                            <!--  <input type="text" class="form-control">-->
                            <div class="demo" id="add_courseLinked" ></div>
                        </div>
                    </div>
                    <!--<div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            <input type="text" class="form-control">
                        </div>
                    </div>-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">是否启用:</label>
                        <div class="col-sm-6">
                            <input type="checkbox" name="courseStatus" class="js-switch-1 form-control" checked/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">热门课程:</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input type="text" class="form-control" id="hotCourse" name="hot">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-white dropdown-toggle"
                                            data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">公开状态:</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input type="text" class="form-control" id="alter_publicStatus" name="courseOpenStatus">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-white dropdown-toggle"
                                            data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">监听进度:</label>
                        <div class="col-sm-10 ">
                            <div class="input-group">
                                <input type="text" class="form-control" id="monitorProgress" name="listener">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-white dropdown-toggle"
                                            data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">课程封面</label>
                        <div class="col-sm-5">
                            <div class="image-crop">
                                <img src="../../static/img/login-background.jpg">
                            </div>
                        </div>
                        <!--  <h4>图片预览：</h4>-->
                        <div class="col-sm-4 col-sm-offset-1" style="overflow: hidden">
                            <div class="btn-group" style="margin-top: 50px">
                                <label title="上传图片" for="inputImage" class="btn btn-primary">
                                    <input type="file" accept="img/*" name="courseImage" id="alter_inputImage" class="hide">
                                    上传图片
                                </label>
                                <button class="btn btn-warning" id="alter_setDrag" type="button">裁剪</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">课程说明:</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="3" name="courseDesc"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="alter_cc">保存</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--修改模态框-->
<div class="modal fade" tabindex="-1" role="dialog" id="alter_course_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">修改</h4>
            </div>
            <div class="modal-body">
                <form method="get" class="form-horizontal" id="alter_course_list_form" action="/owep/training/courseList/updateCourse">
                    <div class="form-group">
                        <p class="hidden" id="alter_cid">隐藏控件</p>
                        <label class="col-sm-2 control-label">课程名称:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="courseName"
                                   id="alter_courseName">
                        </div>
                    </div>
                    <div class="form-group input-daterange" id="alter_datepicker_cc">
                        <div class="input-daterange input-group" id="alter_datepicker">
                            <label class="col-sm-2 control-label">开始日期:</label>
                            <div class="col-sm-10">
                                <input type="text" class="input-sm form-control" id="alter_start" name="start"/>
                            </div>
                            <label class="col-sm-2 control-label" style="margin-top: 12px">结束日期:</label>
                            <div class="col-sm-10" style="margin-top: 12px">
                                <input type="text" class="input-sm form-control" id="alter_end" name="end"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">课程学时:</label>
                        <div class="col-sm-10">
                            <input type="number" placeholder="请输入课程学时" id="courseTime" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">课程分类:</label>
                        <div class="col-sm-10">
                            <!-- <input type="text" class="form-control">-->
                            <div class="demo" id="courseLinked"></div>
                        </div>
                    </div>
                    <!--<div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            <input type="text" class="form-control">
                        </div>
                    </div>-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">是否启用:</label>
                        <div class="col-sm-6">
                            <input type="checkbox" class="js-switch-1 form-control" checked/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">热门课程:</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input type="text" class="form-control" id="alter_hotCourse">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-white dropdown-toggle"
                                            data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">公开状态:</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input type="text" class="form-control" id="publicStatus">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-white dropdown-toggle"
                                            data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">监听进度:</label>
                        <div class="col-sm-10 ">
                            <div class="input-group">
                                <input type="text" class="form-control" id="alter_monitorProgress">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-white dropdown-toggle"
                                            data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">课程封面</label>
                        <div class="col-sm-5">
                            <div class="image-crop">
                                <img src="../../static/img/login-background.jpg">
                            </div>
                        </div>
                        <!--  <h4>图片预览：</h4>-->
                        <div class="col-sm-4 col-sm-offset-1" style="overflow: hidden">
                            <div class="btn-group" style="margin-top: 50px">
                                <label title="上传图片" for="inputImage" class="btn btn-primary">
                                    <input type="file" accept="img/*" name="file" id="inputImage" class="hide"> 上传图片
                                </label>
                                <button class="btn btn-warning" id="setDrag" type="button">裁剪</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">课程说明:</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="3" id="alter_courseDesc"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="add_cc">保存</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- 全局js -->
<script src="../../static/js/jquery.min.js?v=2.1.4" th:src="@{/static/js/jquery.min.js(v=2.1.4)}"></script>
<script src="../../static/js/bootstrap.min.js?v=3.3.6"
        th:src="@{/static/js/bootstrap.min.js(v=3.3.6)}"></script>
<!-- Switchery -->
<script src="../../static/js/plugins/switchery/switchery.js"
        th:src="@{/static/js/plugins/switchery/switchery.js}"></script>
<!-- Image cropper -->
<script src="../../static/js/plugins/cropper/cropper.min.js"
        th:src="@{/static/js/plugins/cropper/cropper.min.js}"></script>
<!-- Datepicker -->
<script src="../../static/js/plugins/datapicker/bootstrap-datepicker.js"
        th:src="@{/static/js/plugins/datapicker/bootstrap-datepicker.js}"></script>
<script src="../../static/js/plugins/datapicker/bootstrap-datepicker.zh-CN.min.js"
        th:src="@{/static/js/plugins/datapicker/bootstrap-datepicker.zh-CN.min.js}"></script>
<!--suggest-->
<script src="../../static/js/plugins/suggest/bootstrap-suggest.min.js"
        th:src="@{/static/js/plugins/suggest/bootstrap-suggest.min.js}"></script>
<!-- Sweet alert -->
<script src="../../static/js/plugins/sweetalert/sweetalert.min.js"
        th:src="@{/static/js/plugins/sweetalert/sweetalert.min.js}"></script>
<!-- Bootstrap table -->
<script src="../../static/js/plugins/bootstrap-table/bootstrap-table.min.js"
        th:src="@{/static/js/plugins/bootstrap-table/bootstrap-table.min.js}"></script>
<script src="../../static/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"
        th:src="@{/static/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js}"></script>
<script src="../../static/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"
        th:src="@{/static/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js}"></script>
<script src="../../static/js/plugins/iPicker/iPicker.min.js"
        th:src="@{/static/js/plugins/iPicker/iPicker.min.js}"></script>
<script>
    $(function () {
        $("#courseList_table").bootstrapTable({
            pagination: true,
            pageNumber: 1,                       //初始化加载第一页，默认第一页
            pageSize: 5,                       //每页的记录行数（*）
            pageList: [5, 8, 10],        //可供选择的每页的行数（*）
            clickToSelect: true,
            uniqueId: "id",
            /*queryParams: function (params) {
                var temp = {
                    "courseName": $("#courseNameSearch").val(),

                    "limits": params.limit,
                    "offset": params.offset
                }
                return temp;
            },*/
            queryParams:{
                courseName:$("#courseNameSearch").val()
            },
            queryParamsType:1,
            /*url: '../../static/js/demo/training/courseList.json',*/
            url:"/owep/training/courseList/getCourseList",
            onPostBody: checkbox_table,
            columns: [{
                checkbox: true
            }, {
                field: 'cid',
                title: "表中记录的id",
                visible: false
            },
                {
                    field: 'id',
                    title: '序号',
                    align: "center"
                }, {
                    field: 'courseNumber',
                    title: '课程编号',
                    width: '10%',
                    align: "center"
                }, {
                    field: 'courseName',
                    title: '课程名称',
                    align: "center"
                }, {
                    field: 'courseDesc',
                    title: '课程说明',
                    width: '20%',
                    align: "center"
                }, {
                    field: 'coursePeriod',
                    title: '课程学时',
                    align: "center"
                },
                {
                    field: 'startTime',
                    title: '课程日期',
                    align: "center"
                }, {
                    field: 'hot',
                    title: '热门',
                    align: "center"
                },
                {
                    field: 'courseStatus',
                    title: '状态',
                    align: "center",
                    formatter: switchBox
                }, {
                    field: 'openStatus',
                    title: '公开状态',
                    visible: false
                }, {
                    field: 'monitorProgress',
                    title: '监听进度',
                    visible: false
                },
                {
                    field: 'operation',
                    align: 'center',
                    title: "操作",
                    width: '15%',
                    formatter: function (value, row, index) {
                        return [
                            "<button type='button' class='alterBtn btn btn-info btn-xs' title='修改' data-toggle='modal' data-target='#alter_course_modal' style='margin-right: 10px'><i class='fa fa-edit'><!--签约--></i></button>",
                            "<button type='button' class='deleteBtn btn btn-danger btn-xs' title='删除' style='margin-right: 10px'><i class='fa fa-trash-o'><!--删除--></i></button>",
                            "<button type='button' class='setBtn btn btn-warning btn-xs' title='课程设置' style='margin-right: 10px'><i class='fa fa-wrench'><!--修改--></i></button>",
                        ].join("");
                    },
                    events: {
                        "click .setBtn": function (e, value, row, index) {

                            window.location.href = "/owep/training/courseList/toChapter?courseId="+row.id+"&courseName="+row.courseName;
                        },
                        "click .deleteBtn": function (e, value, row, index) {

                            swal({
                                title: '您确定要删除该信息吗？',
                                type: "warning",
                                showCancelButton: true,
                                confirmButtonColor: "#DD6B55",
                                confirmButtonText: "删除",
                                closeOnConfirm: false
                            }, function () {
                                let id = row.id;
                                alert(id);
                                //发送ajax 删除
                                $.ajax({
                                    url: "/owep/training/courseList/deleteById?id="+id,
                                    method: "get",
                                    async: true,
                                    data: id,
                                    dataType: "text",   //期望服务端返回的数据类型
                                    contentType: "application/json",
                                    success: function (data) {
                                        console.log(data.toString());
                                        swal("删除成功！", "您已经永久删除已选信息", "success");
                                        //重新加载页面
                                        window.location.reload();
                                    },
                                    error: function (jqXHR) {
                                        swal("删除失败！", "未知错误", "error");
                                    }
                                });
                                //根据Id字段删除对应的数据
                                $(event).bootstrapTable('removeByUniqueId', id);

                                swal("删除成功！", "您已经永久删除信息", "success");
                            });



                        },
                        "click .alterBtn": function (e, value, row, index) {
                            //回显数据
                            //隐藏控件
                            $("#alter_cid").val(row.cid);
                            $("#alter_courseName").val(row.courseName);
                            $("#alter_start").val(row.startTime);
                            $("#alter_end").val(row.endTime);
                            $("#courseTime").val(row.coursePeriod);
                            $("#courseLinked").val(row.courseCategory);
                            $("#alter_hotCourse").val(row.hot);
                            $("#publicStatus").val(row.courseOpenStatus);
                            $("#alter_monitorProgress").val(row.listener);
                            $("#alter_courseDesc").val(row.courseDesc);
                            //对字符串进行处理
                            let split = row.courseDate.split("至");
                            //起始日期
                            $("#alter_start").val(split[0]);
                            $("#alter_end").val(split[1]);

                            if (row.status == '启用') {
                                setSwitchery(switchery, true);
                            } else {
                                setSwitchery(switchery, false);
                            }
                            $("#alter_course_modal").modal();
                            //   $.ajax({
                            //   })
                            //先加载
                        },
                    },
                }]
        });

        /* 滑动checkbox*/
        function checkbox_table() {
            let elems = Array.prototype.slice.call($('.js-switch'));
            let swit;
            elems.forEach(function (html) {
                swit = new Switchery(html, {size: 'normal'});
                $(html).change(function () {
                    let courseId = $(this).attr("courseId");
                    let status;
                    if(html.checked==true){
                        alert("课程启用"+courseId);
                        status = 1;
                    }else{
                        alert("禁用课程"+courseId);
                        status = 0;
                    }
                    let switch_data ={
                        "courseId": courseId,
                        "status": status
                    };

                    //Todo Ajax
                    $.ajax({
                        url: "/owep/training/courseList/switch",
                        method: "get",
                        async: true,
                        data:switch_data,
                        dataType: "text",   //期望服务端返回的数据类型
                        contentType: "application/json",
                        error: function (jqXHR) {
                            swal("同步失败！", "请稍后重试", "error");
                        }
                    });
                })

            });
        }
        $("#searchCourse").click(function () {
            var courseName = "%"+$("#courseNameSearch").val()+"%";

            var course = {
                "courseName":courseName
            }
            $.ajax({
                url:"/owep/training/courseList/findCourseByName",
                data:course,
                dataType:"json",
                success:function (data) {
                    console.log(data);
                    $("#courseList_table").bootstrapTable("load",data);
                },
                error:function (jqXHR) {
                    alert("查询失败");
                }
            })
        })

    });
</script>
<script>
    /*滑动checkbox*/
    let elems = Array.prototype.slice.call($('.js-switch-1'));
    let switchery;
    elems.forEach(function (html) {
        switchery = new Switchery(html, {size: 'normal'});
        $(html).change(function () {
            let prop = $(this).prop("checked");
            let parentNode = $(this).parentNode;
            alert(prop);
        })
    });

    /*根据json数据给滑动按钮设置状态*/
    function switchBox(value, row, index) {
        if (value == "1") {
            return '<input type="checkbox" class="js-switch form-control" courseId="'+row.id+'" checked/>';
        }
        return '<input type="checkbox" class="js-switch form-control" courseId="'+row.id+'"/>';
    }

    /*改变滑动按钮的状态*/
    function setSwitchery(switchElement, checkedBool) {
        if ((checkedBool && !switchElement.isChecked()) || (!checkedBool && switchElement.isChecked())) {
            switchElement.setPosition(true);
            switchElement.handleOnchange(true);
        }
    }

    //多级联动
    $.getJSON("/owep/training/courseList/getCourseCategory").done(function (res) {

        console.log(res);
        $("#courseLinked,#add_courseLinked").iPicker({
            data: res,
            level: 2,
            placeholder: ["请选择", "请选择"],
            onSelect: function (v, t, set) {
                var text = "[ " + t + " ]";
                var value = "[ " + v + " ]";
                alert(text + "<------------>" + value);
            }
        });
    });
</script>
<script>
    /*图片剪切*/
    $(function () {
        var $image = $(".image-crop > img")
        $($image).cropper({
            aspectRatio: 1.618,
            preview: ".img-preview",
            done: function (data) {
                // 输出结果
            }
        });

        var $inputImage = $("#inputImage");
        if (window.FileReader) {
            $inputImage.change(function () {
                var fileReader = new FileReader(),
                    files = this.files,
                    file;
                if (!files.length) {
                    return;
                }
                file = files[0];
                if (/^image\/\w+$/.test(file.type)) {
                    fileReader.readAsDataURL(file);
                    fileReader.onload = function () {
                        $inputImage.val("");
                        $image.cropper("reset", true).cropper("replace", this.result);
                    };
                } else {
                    // showMessage("请选择图片文件");
                }
            });
        } else {
            $inputImage.addClass("hide");
        }
        $("#setDrag").click(function () {
            $image.cropper("setDragMode", "crop");
            alert("剪切成功");
        });

        $('.delete').click(function () {
            let rows = $("#courseList_table").bootstrapTable('getAllSelections');
            console.log(rows);
            if (rows.length == 0) {
                swal("至少选中一行！", "", "error");
                return false;
            }
            let userIds = [];
            for (let i = 0; i < rows.length; i++) {
                userIds.push(rows[i].id)
            }
            swal({
                title: "您确定要删除这" + userIds.length + "条信息？",
                text: "删除后将无法恢复，请谨慎操作！",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "删除",
                closeOnConfirm: false
            }, function () {
                alert(userIds);
                //发送ajax 删除
                $.ajax({
                    url: "/owep/training/courseList/deleteSelected",
                    method: "post",
                    async: true,
                    data: JSON.stringify(userIds),
                    dataType: "text",   //期望服务端返回的数据类型
                    contentType: "application/json",
                    success: function (data) {
                        console.log(data.toString());
                        swal("删除成功！", "您已经永久删除已选信息", "success");
                        //重新加载页面
                        window.location.reload();
                    },
                    error: function (jqXHR) {
                        swal("删除失败！", "未知错误", "error");
                    }
                });
                //获取对象

            });
        });
    })
</script>
<script>
    $(function () {
        $('#datepicker_cc .input-daterange,#alter_datepicker_cc .input-daterange').datepicker({
            keyboardNavigation: false,
            forceParse: false,
            autoClose: true,
            format: "yyyy-mm-dd",
            language: 'zh-CN',// 汉化
        });
       /* $('#add_cc.btn.btn-primary').click(function () {
            $.ajax({
                type: "GET",
                url: "",
                data: {
                    schemeNumberAdd: $("#schemeNumberAdd").val(),
                    schemeNameAdd: $("#schemeNameAdd").val(),
                    switchFlag: $('.js-switch.form-control').val()
                },
                dataType: "json",
                success: function (data) {
                    alert("添加成功");
                },
                error: function (jqXHQ) {
                    alert("添加失败");
                }

            });

            //重新加载页面
            window.location.reload();
        })*/
    })
    /*公开状态suggest*/
    $("#publicStatus,#alter_publicStatus").bsSuggest({
        data: {
            value: [
                {
                    "keyName": "公开（免费）",
                }, {
                    "keyName": "私有（收费）",
                }]
        }
    });
    $("#monitorProgress,#alter_monitorProgress").bsSuggest({
        data: {
            "value": [
                {
                    "keyName": "不监听",
                }, {
                    "keyName": "监听进度",
                }
            ]
        }
    });
    $("#hotCourse,#alter_hotCourse").bsSuggest({
        data: {
            "value": [
                {
                    "keyName": "是",
                }, {
                    "keyName": "否",
                }
            ]
        }
    });
    $("#alter_cc").click(function () {

        alert("hehe");
        $("form[name='course_list_form']").submit();
        window.location.reload();
    })
</script>
</body>

</html>