<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>智慧教育平台-方案列表</title>
    <meta name="keywords" content="">
    <meta name="description" content="">

    <link rel="shortcut icon" th:href="@{favicon.ico}">
    <link href="../../static/css/bootstrap.min.css?v=3.3.6" th:href="@{/static/css/bootstrap.min.css(v=3.3.6)}"
          rel="stylesheet">
    <link href="../../static/css/font-awesome.css?v=4.4.0" th:href="@{/static/css/font-awesome.css(v=4.4.0)}"
          rel="stylesheet">
    <!--BootStrap_Table样式-->
    <link href="../../static/css/plugins/bootstrap-table/bootstrap-table.min.css"
          th:href="@{/static/css/plugins/bootstrap-table/bootstrap-table.min.css}" rel="stylesheet">
    <!--滑动checkbox-->
    <link href="../../static/css/plugins/switchery/switchery.css"
          th:href="@{/static/css/plugins/switchery/switchery.css}"
          rel="stylesheet">
    <!-- Sweet Alert -->
    <link href="../../static/css/plugins/sweetalert/sweetalert.css"
          th:href="@{/static/css/plugins/sweetalert/sweetalert.css}" rel="stylesheet">

    <link href="../../static/css/animate.css" th:href="@{/static/css/animate.css}" rel="stylesheet">
    <link href="../../static/css/style.css?v=4.1.0" th:href="@{/static/css/style.css(v=4.1.0)}" rel="stylesheet">
    <style type="text/css">
        .table > thead > tr > th {
            color: #2a62bc;
        }

        .form-inline > .btn:not(.query) {
            margin-left: 0.8%;
            float: right;
        }
    </style>
</head>

<body class="white-bg">
<div class="row wrapper border-bottom white-bg page-heading animated fadeInRight">
    <div class="row" style="margin-top: 25px;padding-left: 25px">
        <div class="col-md-6">
            <form class="form-inline"  method="post">
                <div class="form-group">
                    <label for="schemeNumberSearch">方案编号:</label>
                    <input type="text" class="form-control btn-sm" id="schemeNumberSearch">
                </div>
                <div class="form-group">
                    <label for="schemeNameSearch">方案名称:</label>
                    <input type="text" class="form-control btn-sm" id="schemeNameSearch">
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary text-left" id="searchPlanManager">查询</button>
                </div>
            </form>
        </div>
        <div class="col-md-2 col-md-offset-4 text-right" style="padding-right:30px">
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#add_schema_modal">添加</button>
            <button type="button" class="btn btn-danger deleteMulti">删除</button>
        </div>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-striped" id="schemaTable">
            </table>
        </div>
    </div>
</div>


<!--添加方案模态框-->
<div class="modal fade" tabindex="-1" role="dialog" id="add_schema_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">新增</h4>
            </div>
            <div class="modal-body">
                <!--模态框内容-->
                <form class="form-horizontal" th:action="@{/training/schemaList/addPlanManager}" name="addPlanManagerForm" id="addPlanManager">
                    <div class="form-group">
                        <label for="schemeNumberAdd" class="col-sm-2 control-label">方案编号:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="schemeNumberAdd" name="planNumber">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="schemeNameAdd" class="col-sm-2 control-label">方案名称:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="schemeNameAdd" name="planName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="schemeDescAdd" class="col-sm-2 control-label">方案描述:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="schemeDescAdd" name="planDesc">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">是否启用:</label>
                        <div class="col-sm-6">
                            <input type="checkbox" class="js-switch-1 form-control" name="planStatus"/>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="add_schema">新增</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--更新方案模态框-->
<div class="modal fade" tabindex="-1" role="dialog" id="update_schema_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">更新</h4>
            </div>
            <div class="modal-body">
                <!--模态框内容-->
                <form class="form-horizontal"  id="schemeUpdateForm">
                    <!--隐藏控件，需要被跟新记录的id-->
                    <input class="hidden" type="text" id="schemeUpdateId">
                    <div class="form-group">
                        <label for="schemeNumberUpdate" class="col-sm-2 control-label">方案编号:</label>
                        <div class="col-sm-6">
                            <input type="text" readonly class="form-control" id="schemeNumberUpdate">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="schemeNameAdd" class="col-sm-2 control-label">方案名称:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="schemeNameUpdate">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">是否启用:</label>
                        <div class="col-sm-6">
                            <input type="checkbox" class="js-switch-1 form-control" id="schemeCheckUpdate"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="schemeDescUpdate" class="col-sm-2 control-label">方案描述:</label>
                        <div class="col-sm-6">
                            <textarea  class="form-control" id="schemeDescUpdate" rows="3"></textarea>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="update_schema">更新</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--设置方案模态框-->
<div class="modal fade" tabindex="-1" role="dialog" id="schema_Set_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">设置方案</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" >
                    <input class="hidden" type="text" id="planManagerId">
                    <input class="hidden" type="text" id="planManagerCourseId">
                    <div class="row">
                        <div class="form-group">
                            <label for="schemaNameSet" class="col-sm-2 control-label">方案名称:</label>
                            <div class="col-sm-10">
                                <input type="text" name="schemaNameSet" readonly class="form-control"
                                       id="schemaNameSet">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <button type="button" class="btn btn-primary allocation">已分配课程</button>
                                <button type="button" class="btn btn-default choose_course">选择新课程</button>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <p class="text-danger">*提示：同一阶段内[ 排序 ]的序号值越大课程越往后排</p>
                        </div>
                    </div>
                    <div class="row" id="allocation_content">
                        <table class="table table-striped" id="allocation_table">
                        </table>
                    </div>
                    <div class="row" id="choose_course_content" style="display: none">
                        <table class="table table-striped" id="choose_course_table"></table>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="choose_course_stage_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">阶段选择</h4>
            </div>
            <div class="modal-body">
                <input class="hidden" type="text" id="courseId">
                <div class="form-group">
                    <label class="col-sm-2 control-label">阶段选择</label>
                    <div class="col-sm-10">
                        <select class="form-control m-b" name="account" id="stageNum">
                            <option stageid="1">第一阶段</option>
                            <option stageid="2">第二阶段</option>
                            <option stageid="3">第三阶段</option>
                            <option stageid="4">第四阶段</option>
                            <option stageid="5">第五阶段</option>
                            <option stageid="6">第六阶段</option>
                            <option stageid="7">第七阶段</option>
                            <option stageid="8">第八阶段</option>
                            <option stageid="9">第九阶段</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="save_stage_modal">保存</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- 全局js -->
<script src="../../static/js/jquery.min.js?v=2.1.4" th:src="@{/static/js/jquery.min.js(v=2.1.4)}"></script>
<script src="../../static/js/bootstrap.min.js?v=3.3.6" th:src="@{/static/js/bootstrap.min.js(v=3.3.6)}"></script>
<!-- 自定义js -->
<script src="../../static/js/content.js?v=1.0.0" th:src="@{/static/js/content.js(v=1.0.0)}"></script>
<!-- Bootstrap table -->
<script src="../../static/js/plugins/bootstrap-table/bootstrap-table.min.js"
        th:src="@{/static/js/plugins/bootstrap-table/bootstrap-table.min.js}"></script>
<script src="../../static/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"
        th:src="@{/static/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js}"></script>
<script src="../../static/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"
        th:src="@{/static/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js}"></script>
<!-- Switchery -->
<script src="../../static/js/plugins/switchery/switchery.js"
        th:src="@{/static/js/plugins/switchery/switchery.js}"></script>

<!-- Sweet alert -->
<script src="../../static/js/plugins/sweetalert/sweetalert.min.js"
        th:src="@{/static/js/plugins/sweetalert/sweetalert.min.js}"></script>

<script>
    /*schema页面中bootstrap-table 初始化*/
    $(function () {
        $("#schemaTable").bootstrapTable({
            pagination: true,
            pageNumber: 1,                       //初始化加载第一页，默认第一页
            pageSize: 8,                       //每页的记录行数（*）
            pageList: [2, 5, 8, 10],        //可供选择的每页的行数（*）
            uniqueId: "id",                 //不唯一的行
            queryParams: function (params) {
                var temp = {
                    "a": 1,
                    "b": 2,
                    "limits": params.limit,
                    "offset": params.offset
                }
                return temp;
            },
            url: "/owep/training/schemaList/getSchemaList",
            onLoadSuccess: checkbox_table,
            onPageChange: checkbox_table,
            columns: [{
                checkbox: true  /* 是否添加复选框*/
            },
                {
                    field: 'id',
                    title: 'ID',
                    visible: false
                }, {
                    field: 'planNumber',
                    title: '方案编号',
                    align: "center"
                }, {
                    field: 'planName',
                    title: '方案名称',
                    align: "center"
                }, {
                    field: 'planDesc',
                    title: '方案描述',
                    align: "center"
                }, {
                    field: 'planStatus',
                    title: '启用状态',
                    align: "center",
                    formatter: switchBox
                }, {
                    align: "center",
                    title: "操作",
                    width: '15%',
                    events: {
                        "click .updateBtn": function (e, value, row, index) {
                            //把数据回显到模态框中

                            $("#schemeNumberUpdate").val(row.planNumber);
                            $("#schemeNameUpdate").val( row.planName);
                            $("#schemeCheckUpdate").val( row.planStatus);
                            $("#schemeDescUpdate").text(row.planDesc);
                            if (row.planStatus == '启用') {
                                setSwitchery(switchery_update, true);
                            } else {
                                setSwitchery(switchery_update, false);
                            }
                            $('#update_schema_modal').modal('show');

                        },
                        "click .deleteBtn": function (e, value, row, index) {
                            swal({
                                title: '您确定要删除该信息吗？',
                                type: "warning",
                                showCancelButton: true,
                                confirmButtonColor: "#DD6B55",
                                confirmButtonText: "删除",
                                closeOnConfirm: false
                            }, function () {
                                let id = row.id;
                                alert(id);
                                //发送ajax 删除
                                $.ajax({
                                    url: "/owep/training/schemaList/deleteById?id="+id,
                                    method: "get",
                                    async: true,
                                    data: id,
                                    dataType: "text",   //期望服务端返回的数据类型
                                    contentType: "application/json",
                                    success: function (data) {
                                        console.log(data.toString());
                                        swal("删除成功！", "您已经永久删除已选信息", "success");
                                        //重新加载页面
                                        window.location.reload();
                                    },
                                    error: function (jqXHR) {
                                        swal("删除失败！", "未知错误", "error");
                                    }
                                });
                                //根据Id字段删除对应的数据
                                $(event).bootstrapTable('removeByUniqueId', id);

                                swal("删除成功！", "您已经永久删除信息", "success");
                            });
                        },
                        "click .setBtn": function (e, value, row, index) {
                            //回显数据
                            $("#planManagerId").val(row.id);
                            $("#schemaNameSet").val( row.planName);
                            var planManagerId = $("#planManagerId").val();
                            var opt = {
                                url:"/owep/training/schemaList/findCourseById?planManagerId="+planManagerId,
                            }
                            $("#allocation_table").bootstrapTable('refresh',opt);
                            $('#schema_Set_modal').modal('show');
                        }
                    },
                    formatter: function (value, row, index) {
                        return [
                            "<button type='button' class='updateBtn btn btn-primary btn-xs' title='更新' style='margin-right: 15px;'><i class='fa fa-edit'></i> </button>",
                            "<button type='button' class='deleteBtn btn btn-danger  btn-xs' title='删除' style='margin-right: 15px;'><i class='fa fa-trash' ></i> </button>",
                            "<button type='button' class='setBtn btn btn-info btn-xs' title='设置方案' style='margin-right: 15px;'><i class='fa fa-gear'></button>"
                        ].join("");
                    }
                }]
        });

        $("#searchPlanManager").click(function () {
            var planName = "%"+$("#schemeNameSearch").val()+"%";
            var planNumber = "%"+$("#schemeNumberSearch").val()+"%";
            var planManager = {
                "planNumber":planNumber,
                "planName":planName
            }
            $.ajax({
                url:"/owep/training/schemaList/search",
                data:planManager,
                dataType:"json",
                success:function (data) {
                    console.log(data);
                    $("#schemaTable").bootstrapTable("load",data);
                },
                error:function (jqXHR) {
                    alert("查询失败");
                }
            })
        })
    });
    /*模态框中的已分配课程bootstrap-table 初始化*/
    $(function () {

        $("#allocation_table").bootstrapTable({
            pagination: true,
            pageNumber: 1,                       //初始化加载第一页，默认第一页
            pageSize: 6,                      //每页的记录行数（*）
            server: "client",
            uniqueId: "id",
            sortOrder: "asc",
            queryParams: function (params) {
                var temp = {
                    "a": 1,
                    "b": 2,
                    "limits": params.limit,
                    "offset": params.offset
                }
                return temp;
            },
            url: "/owep/training/schemaList/findCourseById?planManagerId=[[${planManagerId}]]",
            columns:
                [{
                    /*表中记录的id  主键------*/
                    field: 'id',
                    title: 'ID',
                    visible: false
                },
                    {
                        /*课程阶段 id   外键------*/
                        field: 'stage_id',
                        title: 'ID',
                        visible: false
                    }, {
                    /*课程 id  外键------*/
                    field: 'course_id',
                    title: 'course_ID',
                    visible: false
                }, {

                    field: 'stageNum',
                    title: '课程阶段',
                    align: "center"
                }, {
                    field: 'courseOrder',
                    title: '排序',
                    align: "center",

                }, {
                    field: 'courseName',
                    title: '课程名称',
                    align: "center"
                }, {
                    field: 'operate',
                    align: "center",
                    title: "操作",
                    events: {

                        "click .allocation_deleteBtn": function (e, value, row, index) {

                            //todo
                            swal({
                                title: '您确定要删除该信息吗？',
                                type: "warning",
                                showCancelButton: true,
                                confirmButtonColor: "#DD6B55",
                                confirmButtonText: "删除",
                                closeOnConfirm: false
                            }, function () {
                                let id = row.id;
                                alert(id);
                                //发送ajax 删除
                                $.ajax({
                                    url: "/owep/training/schemaList/deletePlanManagerCourseById?id="+id,
                                    method: "get",
                                    async: true,
                                    data: id,
                                    dataType: "text",   //期望服务端返回的数据类型
                                    contentType: "application/json",
                                    success: function (data) {
                                        console.log(data.toString());
                                        swal("删除成功！", "您已经永久删除已选信息", "success");
                                        //重新加载页面
                                        window.location.reload();
                                        //$('#schema_Set_modal').modal('show');
                                    },
                                    error: function (jqXHR) {
                                        swal("删除失败！", "未知错误", "error");
                                    }
                                });
                                //根据Id字段删除对应的数据
                                $(event).bootstrapTable('removeByUniqueId', id);

                                swal("删除成功！", "您已经永久删除信息", "success");
                            });
                        },
                        "click .allocation_upBtn": function (e, value, row, index) {
                            alert("上移");
                            //todo
                            var courseOrder = row.courseOrder;
                            var stageNum = row.stageNum;
                            var planManagerId = $("#planManagerId").val();
                            var opt={
                                url:"/owep/training/schemaList/courseMoveUp?courseOrder="+courseOrder+"&stageNum="+stageNum+"&planManagerId="+planManagerId
                            }
                            $("#allocation_table").bootstrapTable("refresh",opt);
                            mergeCells($('#allocation_table').bootstrapTable("getData"), "stageNum", "stageNum", 1, $('#allocation_table'));
                            /*$.ajax({
                                url:"/owep/training/schemaList/courseMoveUp?courseOrder="+courseOrder+"&stageNum="+stageNum+"&planManagerId="+planManagerId,
                                method:"get",
                                dataType:"text",
                                contentType:"application/json",
                                success:function (data) {
                                    if(data==null){
                                        alert("上移失败");
                                    }
                                    $("#allocation_table").bootstrapTable("load",data);
                                    mergeCells($('#allocation_table').bootstrapTable("getData"), "stageNum", "stageNum", 1, $('#allocation_table'));
                                    console.log("///////////////////////////////////////////////////")
                                },
                                error:function (jqXHR) {
                                    alert("上移失败");
                                }
                            })*/
                        },
                        "click .allocation_downBtn": function (e, value, row, index) {
                            alert("下移");
                            //todo
                            var courseOrder = row.courseOrder;
                            var stageNum = row.stageNum;
                            var planManagerId = $("#planManagerId").val();
                            var opt={
                                url:"/owep/training/schemaList/courseMoveDown?courseOrder="+courseOrder+"&stageNum="+stageNum+"&planManagerId="+planManagerId
                            }
                            $("#allocation_table").bootstrapTable("refresh",opt);
                            mergeCells($('#allocation_table').bootstrapTable("getData"), "stageNum", "stageNum", 1, $('#allocation_table'));
                           /* $.ajax({
                                url:"/owep/training/schemaList/courseMoveDown?courseOrder="+courseOrder+"&stageNum="+stageNum+"&planManagerId="+planManagerId,
                                method:"get",
                                dataType:"text",
                                contentType:"application/json",
                                success:function (data) {
                                    alert(data);
                                    window.location.reload();
                                },
                                error:function (jqXHR) {
                                    alert("下移失败");
                                }
                            })*/
                        }

                    },
                    formatter: function (value, row, index) {
                        return [
                            "<button type='button' class='allocation_deleteBtn btn btn-danger btn-xs' title='删除' style='margin-right: 15px;'><i class='fa fa-trash'></i></button>",
                            "<button type='button' class='allocation_upBtn btn btn-primary btn-xs' title='上移' style='margin-right: 15px;'><i class='fa fa-long-arrow-up'></i> </button>",
                            "<button type='button' class='allocation_downBtn btn btn-primary btn-xs' title='下移'><i class='fa fa-long-arrow-down'></i> </button>"
                        ].join("");
                    },
                }], onLoadSuccess: function (data) {
                //   merge("courseStage", $('#allocation_table'));
                mergeCells($('#allocation_table').bootstrapTable("getData"), "stageNum", "stageNum", 1, $('#allocation_table'));
                //    mergeCells($('#allocation_table').bootstrapTable("getData"), "courseStage", "rank", 1, $('#allocation_table'));
            }
        });


        /**
         * 合并单元格
         * @param data  原始数据（在服务端完成排序）
         * @param fieldName 合并属性名称
         * @param colspan   合并列
         * @param target    目标表格对象
         */
        function mergeCells(data, exhibitionName, fieldName, colspan, target) {
            //声明一个map计算相同属性值在data对象出现的次数和
            var sortMap = {};
            for (var i = 0; i < data.length; i++) {
                for (var prop in data[i]) {
                    if (prop == exhibitionName) {
                        var key = data[i][prop]
                        if (sortMap.hasOwnProperty(key)) {
                            sortMap[key] = sortMap[key] * 1 + 1;
                        } else {
                            sortMap[key] = 1;
                        }
                        break;
                    }
                }
            }
            for (var prop in sortMap) {
                //   console.log(prop, sortMap[prop])
            }
            var index = 0;
            for (var prop in sortMap) {
                var count = sortMap[prop] * 1;
                $(target).bootstrapTable('mergeCells', {
                    index: index,
                    field: fieldName,
                    colspan: colspan,
                    rowspan: count
                });
                index += count;
            }
        }
    });

    $(function () {
        $("#choose_course_table").bootstrapTable({
            pagination: true,
            pageNumber: 1,                       //初始化加载第一页，默认第一页
            pageSize: 4,                       //每页的记录行数（*）
            //  pageList: [2, 5, 8, 10],        //可供选择的每页的行数（*）
            search: true,
            //   toolbar: '#toolbar2',            //包含工具栏中的元素
            //  showColumns: true,                  //是否显示所有的列
            //  showRefresh: true,                  //是否显示刷新按钮
            //   showToggle: true,                    //是否显示详细视图和列表视图的切换按钮
            uniqueId: "id",
            queryParams: function (params) {
                var temp = {
                    "a": 1,
                    "b": 2,
                    "limits": params.limit,
                    "offset": params.offset
                }
                return temp;
            },
            url: "/owep/training/schemaList/getCourseList",
            columns: [
                {
                    field: 'id',
                    title: 'ID',
                    visible: false
                }, {
                    field: 'courseNumber',
                    title: '课程编号'
                }, {
                    field: 'courseName',
                    title: '课程名称',
                    sortable: true
                }, {
                    align: "center",
                    width: '30%',
                    title: "操作",
                    events: {
                        "click .addCourseBtn": function (e, value, row, index) {
                            $("#courseId").val(row.id);
                            $("#choose_course_stage_modal").modal();
                        }

                    },
                    formatter: function (value, row, index) {
                        return [
                            "<button type='button' class='addCourseBtn btn btn-primary btn-xs' style='margin-right: 15px;'><i class='fa fa-plus'></i> </button>",
                        ].join("");
                    },
                }]
        });
    });
</script>
<script>
    /*滑动按钮*/
    /*modal中的滑动checkbox*/
    let elem = Array.prototype.slice.call($('.js-switch-1'));
    let switchery_update;
    elem.forEach(function (html) {
        switchery_update = new Switchery(html, {size: 'normal'});
    });

    /*更新 滑动checkbox*/
    function checkbox_table() {
        let elems = Array.prototype.slice.call($('.js-switch'));
        elems.forEach(function (html) {
            var switchery = new Switchery(html, {size: 'normal'});
            html.onchange = function () {
                console.log("user status:"+html.checked);
                let planManagerId = $(this).attr("planManagerId");
                let status;
                if(html.checked==true){
                    alert("用户启用"+planManagerId);
                    status = 1;
                }else{
                    alert("禁用用户"+planManagerId);
                    status = 0;
                }
                let switch_data ={
                    "planManagerId": planManagerId,
                    "status": status
                };

                //Todo Ajax
                $.ajax({
                    url: "/owep/training/schemaList/switch",
                    method: "get",
                    async: true,
                    data:switch_data,
                    dataType: "text",   //期望服务端返回的数据类型
                    contentType: "application/json",
                    error: function (jqXHR) {
                        swal("同步失败！", "请稍后重试", "error");
                    }
                });
            }
        });
    }

    /*改变滑动按钮的状态*/
    function setSwitchery(switchElement, checkedBool) {
        if ((checkedBool && !switchElement.isChecked()) || (!checkedBool && switchElement.isChecked())) {
            switchElement.setPosition(true);
            switchElement.handleOnchange(true);
        }
    }

    /*根据json数据给滑动按钮设置状态*/
    function switchBox(value, row, index) {
        console.log(value);
        console.log(row);
        if (value == "1") {
            return '<input type="checkbox" class="js-switch form-control" planManagerId="'+row.id+'" checked/>';
        }
        return '<input type="checkbox" class="js-switch form-control" planManagerId="'+row.id+'"/>';
    }
</script>
<script>
    /*面包屑 模态框中 删除按钮事件*/
    $('.deleteMulti').click(function () {
        let rows = $("#schemaTable").bootstrapTable('getAllSelections');
        //let rows = $("#courseList_table").bootstrapTable('getAllSelections');
        console.log(rows);
        if (rows.length == 0) {
            swal("至少选中一行！", "", "error");
            return false;
        }
        let userIds = [];
        for (let i = 0; i < rows.length; i++) {
            userIds.push(rows[i].id)
        }
        swal({
            title: "您确定要删除这" + userIds.length + "条信息？",
            text: "删除后将无法恢复，请谨慎操作！",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "删除",
            closeOnConfirm: false
        }, function () {
            alert(userIds);
            //发送ajax 删除
            $.ajax({
                url: "/owep/training/schemaList/deleteSelected",
                method: "post",
                async: true,
                data: JSON.stringify(userIds),
                dataType: "text",   //期望服务端返回的数据类型
                contentType: "application/json",
                success: function (data) {
                    console.log(data.toString());
                    swal("删除成功！", "您已经永久删除已选信息", "success");
                    //重新加载页面
                    window.location.reload();
                },
                error: function (jqXHR) {
                    swal("删除失败！", "未知错误", "error");
                }
            });
            //获取对象

        });
    });
    /*面包屑 模态框中 添加按钮事件*/

    /*$('#add_schema.btn.btn-primary').click(function () {*/
    $('#add_schema').click(function () {

        /* var form = document.getElementById("#addPlanManager");
        var formData = new formData(form);*/
        var planNumber = $("#schemeNumberAdd").val();
        var planName = $("#schemeNameAdd").val();
        var planDesc = $("#schemeDescAdd").val()
        var planStatus = $('.js-switch-1.form-control').val();
        console.log(planStatus)
        if(planStatus === "on"){
            planStatus = 1;
        }else{
            planStatus = 0;
        }
        var planManager = {
            "planNumber":planNumber,
            "planName":planName,
            "planDesc":planDesc,
            "planStatus":planStatus
        }
        console.log(planManager);

        var planManagerJSON = JSON.stringify(planManager)
        $.ajax({
            type: "POST",
            url: "/owep/training/schemaList/addPlanManager",

            data:planManagerJSON,
            contentType:"application/json",
            dataType:"text",
            success: function (data) {
                alert(data);
                window.location.reload();
            },
            error: function (jqXHQ) {
                alert("添加失败");
            }

        });
        //重新加载页面

    });

    /*表格 模态框中 更新按钮事件*/
    $("#update_schema").click(function () {
        //提交biaodan

        var planNumber = $("#schemeNumberUpdate").val();
        var planName = $("#schemeNameUpdate").val();
        var planDesc = $("#schemeDescUpdate").val()
        var planStatus = $('.js-switch.form-control').val();
        if(planStatus === "on"){
            planStatus = 1;
        }else{
            planStatus = 0;
        }
        var planManager = {

            "planNumber":planNumber,
            "planName":planName,
            "planDesc":planDesc,
            "planStatus":planStatus
        }
        console.log(planManager);

        var planManagerJSON = JSON.stringify(planManager)
        $.ajax({
            type: "POST",
            url: "/owep/training/schemaList/updatePlanManager",
            data:planManagerJSON,
            contentType:"application/json",
            dataType:"text",
            success: function (data) {
                alert(data);
                window.location.reload();
            },
            error: function (jqXHQ) {
                alert("修改失败");
            }

        });
        //或者直接发送异步请求
        //将表单数据转换成json数据
    });

    /*表格 模态框 设置方案*/
    $('.allocation').click(function () {
        $("#allocation_content").css("display", "block");
        $("#choose_course_content").css("display", "none");
        $('.choose_course').removeClass("btn-primary").addClass("btn-default");
        $('.allocation').removeClass("btn-default").addClass("btn-primary");
    });
    $(".choose_course").click(function () {
        $("#allocation_content").css("display", "none");
        $("#choose_course_content").css("display", "block");
        $('.allocation').removeClass("btn-primary").addClass("btn-default");
        $('.choose_course').removeClass("btn-default").addClass("btn-primary");
    })

    $("#save_stage_modal").click(function () {
        //先获取课程信息
        var courseId = $("#courseId").val();
        var planManagerId = $("#planManagerId").val();
        var stageName = $("option:selected").attr("stageId");
        var stageNum = $("option:selected").attr("stageId");
        var course={
            "courseId":courseId,
            "planManagerId":planManagerId,
            "stageNum":stageNum,
            "stageName":stageName
        }

        alert(stageNum);
        $.ajax({
            type: "POST",
            url: "/owep/training/schemaList/addCourseToPlanManager",
            data: course,
            dataType:"text",
            success: function (data) {
                alert(data);
                window.location.reload();
            },
            error: function (jqXHQ) {
                alert("添加失败");
            }

        });

    })
</script>
</body>

</html>