<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kclm.owep.mapper.ClazzMapper">
  <resultMap id="BaseResultMap" type="clazz">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="class_number" jdbcType="VARCHAR" property="classNumber" />
    <result column="class_name" jdbcType="VARCHAR" property="className" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="class_status" jdbcType="INTEGER" property="classStatus" />
    <result column="institute_name" jdbcType="VARCHAR" property="instituteName" />
    <result column="branch_name" jdbcType="VARCHAR" property="branchName" />
    <result column="class_desc" jdbcType="VARCHAR" property="classDesc" />
    <result column="teacher_name" jdbcType="VARCHAR" property="teacherName" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_access_time" jdbcType="TIMESTAMP" property="lastAccessTime" />
    <result column="old_class_name" jdbcType="VARCHAR" property="oldClassName" />
    <result column="old_class_num" jdbcType="VARCHAR" property="oldClassNum" />
      <association property="profession" column="fk_profession_id" javaType="profession" select="com.kclm.owep.mapper.ProfessionMapper.selectById"/>
    <collection property="resourceList" ofType="resource">
      <id column="rid" jdbcType="INTEGER" property="id"/>
      <result column="resource_name" property="resourceName"/>
      <result column="resource_type" property="type"/>
      <result column="resource_suffix" property="resourceSuffix"/>
      <result column="resource_size" property="resourceSize"/>
      <result column="resource_title" property="resourceTitle"/>
      <result column="resource_path" property="resourcePath"/>
      <result column="resource_label" property="resourceLabel"/>
      <result column="resource_desc" property="resourceDesc"/>
      <result column="create_time" property="createTime"/>
      <result column="r_is_delete" property="isDelete"/>
      <result column="version" property="version"/>
      <result column="last_access_time" property="lastAccessTime"/>
<!--      <association property="resourceType" column="fk_resource_type_id" javaType="resourceType" select="com.kclm.owep.mapper.ResourceTypeMapper.selectById"/>-->
    </collection>
    <collection property="planManagerList" ofType="planManager">
      <id column="pid" jdbcType="INTEGER" property="id"/>
      <result column="plan_number" property="planNumber"/>
      <result column="plan_name" property="planName"/>
      <result column="plan_status" property="planStatus"/>
      <result column="p_is_delete" property="isDelete"/>
      <result column="create_time" property="createTime"/>
      <result column="version" property="version"/>
      <result column="last_access_time" property="lastAccessTime"/>
    </collection>
  </resultMap>
  <!--通用的sql语句 封装一下 方便后续操作-->
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    id, class_number, class_name, start_time, end_time, class_status, institute_name,
    branch_name, class_desc, teacher_name, fk_profession_id, is_delete, version, create_time,
    last_access_time, old_class_name, old_class_num
  </sql>


  <sql id="clazz_res_plan">
      c.id,
      c.class_number,
      c.class_name,
      c.start_time,
      c.end_time,
      c.class_status,
      c.institute_name,
      c.branch_name,
      c.class_desc,
      c.teacher_name,
      c.fk_profession_id,
      c.is_delete,
      c.version,
      c.create_time,
      c.last_access_time,
      c.old_class_name,
      c.old_class_num,
      r.id as rid,
      r.resource_name,
      r.resource_type,
      r.resource_suffix,
      r.resource_size,
      r.resource_title,
      r.resource_path,
      r.resource_label,
      r.resource_desc,
      r.create_time,
      r.is_delete as r_is_delete,
      r.old_resourcename,
      r.version,
      r.last_access_time,
      r.fk_resource_type_id,
      p.id as pid,
      p.plan_number,
      p.plan_name,
      p.plan_status,
      p.plan_desc,
      p.is_delete as p_is_delete,
      p.create_time,
      p.version,
      p.last_access_time
    from t_class c left join t_class_resource cr on c.id=cr.fk_class_id
                   left join t_resource r on r.id=cr.fk_resource_id
                   left join t_class_planmanager cp on c.id=cp.fk_class_id
                   left join t_planmanager p on cp.fk_plan_id = p.id
    where
      c.is_delete=1
  </sql>
  <!--根据主键id来查询一条记录-->
  <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">

    select 
    <include refid="clazz_res_plan" />
    and c.id = #{id,jdbcType=INTEGER}

  </select>
  <!--根据主键id来查询一条记录-->
  <select id="selectAll" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="clazz_res_plan" />
  </select>

 <!-- &lt;!&ndash;多表操作 根据id来class 和resource&ndash;&gt;
  <select id="selectClazzAndRes" parameterType="integer" resultMap="BaseResultMap">
    select
    <include refid="clazz_res"></include>
       and c.id = #{cid,jdbcType=INTEGER}
  </select>
  &lt;!&ndash;多表操作 根据id查询 class和planmanage&ndash;&gt;
  <select id="selectClazzAndPlan" parameterType="integer" resultMap="BaseResultMap">
    select
    <include refid="clazz_plan"></include>
    and c.id=#{cid,jdbcType=INTEGER}
  </select>-->
  <!--根据id来删除一条记录-->
  <update id="deleteById" parameterType="java.lang.Integer">
    <!--不是真正意义上的删除 将delete字段该为0-->
    update t_class set is_delete=0,last_access_time=now()
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!--删除多条记录-->
  <update id="deleteSelect">
    <!--删除多条记录 其实是将delete状态 改为0-->
    update t_class set is_delete=0,last_access_time=now() where id in
    <foreach collection="idList" item="list" open="(" separator="," close=")">
      #{list}
    </foreach>

  </update>
<!--  &lt;!&ndash;插入一条记录&ndash;&gt;
  <insert id="save" parameterType="clazz">
    &lt;!&ndash;
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    &ndash;&gt;
    insert into t_class (id, class_number, class_name,
      start_time, end_time, class_status, 
      institute_name, branch_name, class_desc, 
      teacher_name, fk_profession_id, `delete`,
      version, create_time, last_access_time, 
      old_class_name, old_class_num)
    values (#{id,jdbcType=INTEGER}, #{classNumber,jdbcType=VARCHAR}, #{className,jdbcType=VARCHAR},
      #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{classStatus,jdbcType=INTEGER}, 
      #{instituteName,jdbcType=VARCHAR}, #{branchName,jdbcType=VARCHAR}, #{classDesc,jdbcType=VARCHAR}, 
      #{teacherName,jdbcType=VARCHAR}, #{profession.id,jdbcType=INTEGER}, #{delete,jdbcType=INTEGER},
      #{version,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{lastAccessTime,jdbcType=TIMESTAMP}, 
      #{oldClassName,jdbcType=VARCHAR}, #{oldClassNum,jdbcType=VARCHAR})
  </insert>-->
  <!--动态插入一条记录-->
  <insert id="save" parameterType="clazz">
    insert into t_class
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="classNumber != null">
        class_number,
      </if>
      <if test="className != null">
        class_name,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="classStatus != null">
        class_status,
      </if>
      <if test="instituteName != null">
        institute_name,
      </if>
      <if test="branchName != null">
        branch_name,
      </if>
      <if test="classDesc != null">
        class_desc,
      </if>
      <if test="teacherName != null">
        teacher_name,
      </if>
      <if test="profession.id != null">
        fk_profession_id,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="classNumber != null">
        #{classNumber,jdbcType=VARCHAR},
      </if>
      <if test="className != null">
        #{className,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="classStatus != null">
        #{classStatus,jdbcType=INTEGER},
      </if>
      <if test="instituteName != null">
        #{instituteName,jdbcType=VARCHAR},
      </if>
      <if test="branchName != null">
        #{branchName,jdbcType=VARCHAR},
      </if>
      <if test="classDesc != null">
        #{classDesc,jdbcType=VARCHAR},
      </if>
      <if test="teacherName != null">
        #{teacherName,jdbcType=VARCHAR},
      </if>
      <if test="profession.id != null">
        #{profession.id,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <!--&lt;!&ndash;更新一条记录&ndash;&gt;
  <update id="update" parameterType="clazz">
    &lt;!&ndash;
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    &ndash;&gt;
    update t_class
    set class_number = #{classNumber,jdbcType=VARCHAR},
    class_name = #{className,jdbcType=VARCHAR},
    start_time = #{startTime,jdbcType=TIMESTAMP},
    end_time = #{endTime,jdbcType=TIMESTAMP},
    class_status = #{classStatus,jdbcType=INTEGER},
    institute_name = #{instituteName,jdbcType=VARCHAR},
    branch_name = #{branchName,jdbcType=VARCHAR},
    class_desc = #{classDesc,jdbcType=VARCHAR},
    teacher_name = #{teacherName,jdbcType=VARCHAR},
    fk_profession_id = #{profession.id,jdbcType=INTEGER},
    `delete` = #{delete,jdbcType=INTEGER},
    version = #{version,jdbcType=INTEGER},
    create_time = #{createTime,jdbcType=TIMESTAMP},
    last_access_time = #{lastAccessTime,jdbcType=TIMESTAMP},
    old_class_name = #{oldClassName,jdbcType=VARCHAR},
    old_class_num = #{oldClassNum,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>-->
  <!--动态更新一条记录-->
  <update id="update" parameterType="clazz">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update t_class
    <set>
      <if test="classNumber != null">
        class_number = #{classNumber,jdbcType=VARCHAR},
      </if>
      <if test="className != null">
        class_name = #{className,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="classStatus != null">
        class_status = #{classStatus,jdbcType=INTEGER},
      </if>
      <if test="instituteName != null">
        institute_name = #{instituteName,jdbcType=VARCHAR},
      </if>
      <if test="branchName != null">
        branch_name = #{branchName,jdbcType=VARCHAR},
      </if>
      <if test="classDesc != null">
        class_desc = #{classDesc,jdbcType=VARCHAR},
      </if>
      <if test="teacherName != null">
        teacher_name = #{teacherName,jdbcType=VARCHAR},
      </if>
      <if test="profession != null">
        fk_profession_id = #{profession.id,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
        version =version+1,
        last_access_time =now(),
        old_class_name = class_name,
        old_class_num = class_number,
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--对t_class_resource中间表进行插入操作-->
  <insert id="saveClazzResource">
    insert into t_class_resource values (#{cid},#{rid})
  </insert>
  <!--对t_class_resource中间表删除一行记录操作-->
  <delete id="deleteClazzResource">
    delete from t_class_resource where fk_class_id=#{cid}
  </delete>
  <!--对t_class_planmanage中间表进行插入操作-->
  <insert id="saveClazzPlanmanage">
    insert into t_class_planmanager values (#{pid},#{cid})
  </insert>
  <!--对t_class_planmanage中间表进行删除操作-->
  <delete id="deleteClazzPlanmanage">
    delete from t_class_planmanager where fk_class_id=#{cid}
  </delete>
  <!--根据班级编号来查询-->
  <select id="selectByNum" parameterType="string" resultMap="BaseResultMap">
    select <include refid="clazz_res_plan"/>
    and c.class_number like "%"#{classNum,jdbcType=VARCHAR}"%"
  </select>
  <!--根据班级名称来查询-->
  <select id="selectByName" parameterType="string" resultMap="BaseResultMap">
    select <include refid="clazz_res_plan"/>
    and c.class_name like "%"#{className,jdbcType=VARCHAR}"%"
  </select>
  <!--根据专业id来查询-->
  <select id="selectByPro" parameterType="integer" resultMap="BaseResultMap">
    select <include refid="clazz_res_plan"/>
    and c.fk_profession_id = #{pid,jdbcType=VARCHAR}
  </select>
  <!--根据关键词来查询-->
  <select id="selectByKeyword" resultMap="BaseResultMap">
    select <include refid="clazz_res_plan"/>
     and c.class_number like "%"#{classNumber,jdbcType=VARCHAR}"%"
     and c.class_name like "%"#{className,jdbcType=VARCHAR}"%"
   <if test="instituteName != null and instituteName != ''">
     and c.institute_name = #{instituteName,jdbcType=VARCHAR}
   </if>
   <if test="instituteBranchName != null and instituteBranchName != ''">
     and c.branch_name = #{instituteBranchName,jdbcType=VARCHAR}
   </if>
   <if test="pid != null and pid != ''">
     and c.fk_profession_id = #{pid}
   </if>
  </select>
</mapper>