<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kclm.owep.mapper.CourseReportMapper">
  <resultMap id="BaseResultMap" type="com.kclm.owep.entity.CourseReport">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="course_learn_count" jdbcType="INTEGER" property="courseLearnCount" />
    <result column="practice_count" jdbcType="INTEGER" property="practiceCount" />
    <result column="notes_count" jdbcType="INTEGER" property="notesCount" />
    <result column="sign_count" jdbcType="INTEGER" property="signCount" />
    <result column="question_count" jdbcType="INTEGER" property="questionCount" />
    <result column="video_play_count" jdbcType="INTEGER" property="videoPlayCount" />
    <result column="answer_count" jdbcType="INTEGER" property="answerCount" />
    <result column="test_count" jdbcType="INTEGER" property="testCount" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="homework_count" jdbcType="INTEGER" property="homeworkCount" />
    <result column="homework_finished_count" jdbcType="INTEGER" property="homeworkFinishedCount" />
    <result column="video_count" jdbcType="INTEGER" property="videoCount" />
    <result column="video_finished_count" jdbcType="INTEGER" property="videoFinishedCount" />
  <!--  <result column="fk_student_id" jdbcType="INTEGER" property="fkStudentId" />
    <result column="fk_course_id" jdbcType="INTEGER" property="fkCourseId" />-->
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="last_access_time" jdbcType="TIMESTAMP" property="lastAccessTime" />
  </resultMap>

</mapper>