<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kclm.owep.mapper.ExamBankLogMapper">

    <insert id="save" parameterType="com.kclm.owep.entity.ExamBankLog">
        insert into t_exam_bank_log(bank_id,user_name,use_time)
        value (#{examBank.id},
                #{userName},
                #{userTime})
    </insert>

    <update id="update"></update>

    <update id="deleteById"></update>

    <update id="deleteSelect"></update>

    <select id="selectById"></select>

    <select id="selectAll" resultType="com.kclm.owep.entity.ExamBankLog">
        select * from t_exam_bank_log
    </select>

</mapper>