<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kclm.owep.mapper.ExamMapper">

    <insert id="save" parameterType="com.kclm.owep.entity.Exam">
        insert into t_exam(exam_name,exam_type,exam_status,exam_pass_sore,exam_test_sequecing,exam_show,
        exam_choice_sequecing,exam_number,exam_notice,exam_start,exam_end,exam_time,exam_score_announcement,exam_timelimit,
        exam_limit,exam_answer_announcement,exam_detail,
        create_time,version,last_access_time,user_name,paper_id)
        value (#{examName},#{examType},#{examStatus},#{passScore},#{testSequecing},
        #{show},#{choiceSequecing},#{number},#{notice},#{start},#{end},#{time},#{scoreAnnouncement},
        #{timeLimit},#{limit},#{answerAnnouncement},#{detail},#{createTime},#{version},#{lastAccessTime},#{userName},#{examPaper.id})
    </insert>

    <update id="update" parameterType="com.kclm.owep.entity.Exam">
        update t_exam
        set exam_name=#{examName},
            exam_type=#{examType},
            exam_status=#{examStatus},
            exam_pass_sore=#{passScore},
            exam_test_sequecing=#{testSequecing},
            exam_show=#{show},
            exam_choice_sequecing=#{choiceSequecing},
            exam_number=#{number},
            exam_notice=#{notice},
            exam_start=#{start},
            exam_end=#{end},
            exam_time=#{time},
            exam_score_announcement=#{scoreAnnouncement},
            exam_timelimit=#{timeLimit},
            exam_limit=#{limit},
            exam_answer_announcement=#{answerAnnouncement},
            exam_detail=#{detail},
            create_time=#{createTime},
            version=#{version},
            last_access_time=#{lastAccessTime},
            user_name=#{userName},
            paper_id=#{examPaper.id}
            where id=#{id}
    </update>

    <update id="deleteById" parameterType="int">
        update t_exam
        set is_delete=0
        where id=#{id}
    </update>

    <update id="deleteSelect" parameterType="java.util.List">
        update t_exam
        set  is_delete=0
        <where>
            <foreach collection="list" open="id in(" separator="," close=")" item="id">
                #{id}
            </foreach>
        </where>
    </update>

    <select id="selectById" parameterType="int" resultType="com.kclm.owep.entity.Exam">
        select * from t_exam
        where id=#{id} and is_delete=1;
    </select>

    <select id="selectAll" resultType="com.kclm.owep.entity.Exam">
        select * from t_exam
        where is_delete=1;
    </select>

</mapper>