<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kclm.owep.mapper.ExamQuesHardMapper">

    <insert id="save" parameterType="com.kclm.owep.entity.ExamQuesHard">
        insert into t_exam_ques_hard(hard_level) value (#{hardLevel})
    </insert>

    <update id="update"></update>

    <update id="deleteById"></update>

    <update id="deleteSelect"></update>

    <select id="selectById"></select>

    <select id="selectAll">
        select * from t_exam_ques_hard
    </select>

</mapper>