<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kclm.owep.mapper.ExamAnswerpaperQuesMapper">

    <insert id="save" parameterType="com.kclm.owep.entity.ExamAnswerpaperQues">
        insert into t_exam_answerpaper_ques(answerpaper_id,answerpaper_ques_content,answerpaper_ques_choice,answerpaper_ques_status,answerpaper_ques_score)
        value (#{examAnswerpaper.id},#{quesContent},#{quesChoice},#{quesStatus},#{quesScore})
    </insert>

    <update id="update" parameterType="com.kclm.owep.entity.ExamAnswerpaperQues">
        update t_exam_answerpaper_ques
        set answerpaper_ques_status=#{quesStatus}
        where id=#{id}
    </update>

    <update id="deleteById"></update>

    <update id="deleteSelect"></update>

    <select id="selectById" parameterType="java.lang.Integer" resultType="com.kclm.owep.entity.ExamAnswerpaperQues">
        select * from t_exam_answerpaper_ques
        where id=#{id}
    </select>

    <select id="selectAll" resultType="com.kclm.owep.entity.ExamAnswerpaperQues">
        select * from t_exam_answerpaper_ques;
    </select>

    <!--查看该题干的所有选项以及答案-->
    <select id="selectbyexamAnserpaperId" parameterType="int" resultType="com.kclm.owep.entity.ExamAnswerpaperQues">
        select * from t_exam_answerpaper_ques
        where answerpaper_id=#{AnswerpaperId}
    </select>
</mapper>