<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kclm.owep.mapper.ExamQuesAnswerSetMapper">

    <insert id="save" parameterType="com.kclm.owep.entity.ExamQuesAnswerSet">
        insert into t_exam_ques_answerset(ques_id,type_name,answer_content,answer_status)
        value(#{examQues.id},#{typeName},#{answerContent},#{answerStatus})
    </insert>

    <update id="update" parameterType="com.kclm.owep.entity.ExamQuesAnswerSet">
        update t_exam_ques_answerset
        set ques_id=#{examQues.id},
            type_name=#{typeName},
            answer_content=#{answerContent},
            answer_status=#{answerStatus}
        where id=#{id}
    </update>

    <update id="deleteById"></update>

    <update id="deleteSelect"></update>

    <select id="selectById"></select>

    <select id="selectAll"></select>

</mapper>