<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kclm.owep.mapper.ExamAnswerpaperMapper">
    
    <insert id="save" parameterType="com.kclm.owep.entity.ExamAnswerpaper">
        insert into t_exam_answerpaper(user_id,exam_id,exam_name,paper_name,topic_name,user_answer,ques_answer,answer_score,ques_score,status)
        value (#{user.id},
            #{exam.id},
            #{examName},
            #{paperName},
            #{topicName},
            #{userAnswer},
            #{quesAnswer},
            #{answerScore},
            #{quesScore},
            #{status})
    </insert>

    <update id="update" parameterType="com.kclm.owep.entity.ExamAnswerpaper">
        update t_exam_answerpaper
        set answer_score=#{answerScore}
        where id=#{id}
    </update>

    <update id="deleteById" parameterType="java.lang.Integer" >
        update t_exam_answerpaper
        set is_delete=0
        where id=#{id}
    </update>

    <update id="deleteSelect" parameterType="java.util.List">
        update t_exam_answerpaper
        set is_delete=0
        <where>
            <foreach collection="list" open="id in(" separator="," close=")" item="id">
                #{id}
            </foreach>
        </where>
    </update>

    <select id="selectById" parameterType="int" resultType="com.kclm.owep.entity.ExamAnswerpaper">
        select * from t_exam_answerpaper
        <where>
            id=#{id} and is_delete=1
        </where>
    </select>

    <select id="selectAll" resultType="com.kclm.owep.entity.ExamAnswerpaper">
        select * from t_exam_answerpaper
        where is_delete=1
    </select>
</mapper>