<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--/
*******************
 *Author:ZhongLei
 *version:V1.0
 *@Create: 2020/7/6 14:07
 *@Description:考评选项映射文件
 ***
 /-->

<mapper namespace="com.kclm.owep.mapper.PollItemMapper">


    <!--  添加考评选项  #{pollStatus},-->
    <insert id="save" parameterType="PollItem" ><!--useGeneratedKeys="true" keyColumn="id" keyProperty="id"-->
        insert into t_poll_ltem
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="pollNum != null">
                poll_num,
            </if>
            <if test="pollContent != null">
                poll_content,
            </if>
            <if test="pollStatus != null">
                poll_status,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="version != null">
                version,
            </if>
            <if test="lastAccessTime != null">
                last_access_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER} ,
            </if>
            <if test="pollNum != null">
                #{pollNum,jdbcType=VARCHAR},
            </if>
            <if test="pollContent != null">
                #{pollContent,jdbcType=VARCHAR} ,
            </if>
            <if test="pollStatus != null">
                #{pollStatus,jdbcType=INTEGER} ,
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP} ,
            </if>
            <if test="version != null">
                #{version,jdbcType=INTEGER} ,
            </if>
            <if test="lastAccessTime != null">
                #{lastAccessTime,jdbcType=TIMESTAMP} ,
            </if>
        </trim>
    </insert>

    <!--  通过id删除考评选项  -->
    <delete id="deleteById" parameterType="integer">
        delete from t_poll_ltem where id = #{value}
    </delete>

    <!-- 通过id一次删除多个考评选项 -->
    <delete id="deleteSelect" parameterType="list">
        delete  from t_poll_ltem where id in
        <foreach collection="list" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </delete>

    <!--  通过关键字查找考评选项  -->
    <select id="findByKeywords" resultType="PollItem" parameterType="string">
        select * from t_poll_ltem
        where poll_content like concat('%',#{keyword},'%')
    </select>

    <!--  统计考评选项的数量  -->
    <select id="countPollItem" parameterType="PollItem" resultType="integer">
        select count(*) from t_poll_ltem
    </select>

    <!--  修改考评选项  -->
    <update id="update" parameterType="PollItem">
        update t_poll_ltem
        <set>
            <if test="pollNum != null">poll_num = #{pollNum},</if>
            <if test="pollContent != null">poll_content = #{pollContent},</if>
            <if test="pollStatus != null">poll_status = #{pollStatus},</if>
            version = version + 1,
            last_access_time = now()
        </set>
        where id = #{id}
    </update>

    <!--  通过id查找考评选项  -->
    <select id="selectById" parameterType="integer" resultType="PollItem">
        select * from t_poll_ltem
        where id = #{value}
    </select>

    <!--  查找所有考评选项  -->
    <select id="selectAll" resultType="PollItem">
        select * from t_poll_ltem
    </select>

</mapper>