<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kclm.owep.mapper.RoleMapper">
    <resultMap id="BaseResultMap" type="com.kclm.owep.entity.Role">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        <result column="role_description" jdbcType="VARCHAR" property="roleDescription"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="last_access_time" jdbcType="TIMESTAMP" property="lastAccessTime"/>
        <result column="version" jdbcType="INTEGER" property="version"/>
        <!--  <result column="fk_parent_id" jdbcType="INTEGER" property="parent"/>-->
    </resultMap>

    <sql id="base_column_list">
        id,
        role_name,
        role_description,
        create_time,
        last_access_time,
        version,
        fk_parent_id
    </sql>
    <insert id="saveRole" parameterType="Role">
        insert t_role(<include refid="base_column_list"/>)
            values
        <choose>
            <when test="parent != null">
                (#{id}, #{roleName}, #{roleDescription}, #{createTime}, #{lastAccessTime}, #{version},
                 #{parent.id})
            </when>
            <otherwise>
                (#{id}, #{roleName}, #{roleDescription}, #{createTime}, #{lastAccessTime}, #{version}, -1)
            </otherwise>
        </choose>
    </insert>
    <update id="updateRole" parameterType="Role">
        update t_role
        <set>
            <if test="roleName != null">
                role_name=#{roleName},
            </if>
            <if test="roleDescription != null">
                role_description=#{roleDescription},
            </if>
            <if test="createTime != null">
                create_time=#{createTime},
            </if>
            <if test="lastAccessTime != null">
                last_access_time=#{lastAccessTime},
            </if>
            <if test="version != null">
                version=#{version},
            </if>
            <if test="parent.id != null">
                fk_parent_id=#{parent.id}
            </if>
        </set>
        where id = #{id}
    </update>
    <delete id="delRoleById">
        delete
        from t_role
                where id in
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </delete>
    <select id="findAll" resultType="Role">
        select
        <include refid="base_column_list"/>
        from t_role
    </select>
    <select id="findById" resultType="Role">
        select
        <include refid="base_column_list"/>
        from t_role
        where id = #{id}
    </select>
    <select id="findByName" resultMap="BaseResultMap">
        select
        <include refid="base_column_list"/>
        from t_role
        where role_name = #{roleName};
    </select>
    <select id="findByCondition" resultMap="BaseResultMap">
        select
        <include refid="base_column_list"/>
        from t_role
        <where>
            <if test="id != 0">
                id = #{id}
            </if>
            <if test="version != null">
                and version = #{version}
            </if>
            <if test="roleName != null">
                and role_name = #{roleName}
            </if>
        </where>
    </select>
    <select id="findChild" resultMap="RoleChild">
        select r.id                rid,
               r.role_name         rname,
               r.role_description  rdesc,
               r.create_time       rctime,
               r.last_access_time  rltime,
               r.version           rv,
               cr.id               cid,
               cr.role_name        cname,
               cr.role_description cdesc,
               cr.create_time      cctime,
               cr.last_access_time cltime,
               cr.version          cv,
               cr.fk_parent_id     cpid
        from t_role r
                     join t_role cr on cr.fk_parent_id = r.id
        where r.id = #{parentId}
    </select>
    <resultMap id="RoleChild" type="Role">
        <id column="rid" property="id"/>
        <result column="rname" property="roleName"/>
        <result column="rdesc" property="roleDescription"/>
        <result column="rltime" property="lastAccessTime"/>
        <result column="rv" property="version"/>
        <collection property="childRoles" ofType="Role">
            <id column="cid" property="id"/>
            <result column="cname" property="roleName"/>
            <result column="cdesc" property="roleDescription"/>
            <result column="cltime" property="lastAccessTime"/>
            <result column="cv" property="version"/>
        </collection>
    </resultMap>
    <select id="findGroupsByRoleId" resultMap="BaseResultMap">
    </select>
</mapper>