<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--学员笔记表的SQL操作-->
<mapper namespace="com.kclm.owep.mapper.StudentReportMapper">

  <!--实体属性对应相应的表字段-->
  <resultMap id="BaseResultMap" type="com.kclm.owep.entity.StudentReport">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="course_name" jdbcType="VARCHAR" property="courseName" />
    <result column="chapter_name" jdbcType="VARCHAR" property="chapterName" />
    <result column="section_name" jdbcType="VARCHAR" property="sectionName" />
    <result column="video_study_time" jdbcType="INTEGER" property="videoStudyTime" />
    <result column="homework_count" jdbcType="INTEGER" property="homeworkCount" />
    <result column="question_count" jdbcType="INTEGER" property="questionCount" />
    <result column="leave_count" jdbcType="INTEGER" property="leaveCount" />
    <result column="illegal_count" jdbcType="INTEGER" property="illegalCount" />
    <result column="note_count" jdbcType="INTEGER" property="noteCount" />
    <result column="exam_count" jdbcType="INTEGER" property="examCount" />
    <result column="last_access_time" jdbcType="TIMESTAMP" property="lastAccessTime" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <association property="fkStudent" column="fk_student_id" javaType="com.kclm.owep.entity.Student" select="com.kclm.owep.mapper.StudentMapper.selectById"/>
  </resultMap>

  <!--封装表字段名，方便后续简写使用-->
  <sql id="Base_Column_List">
    id, create_time, course_name, chapter_name, section_name, video_study_time, homework_count, 
    question_count, leave_count, illegal_count, note_count, exam_count, fk_student_id, 
    last_access_time, version
  </sql>

  <!--根据id查找记录-->
  <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  select
  <include refid="Base_Column_List" />
  from t_student_report
  where id = #{id,jdbcType=INTEGER}
</select>

  <!--查询所有记录-->
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_student_report
  </select>

  <!--根据id删除记录-->
  <delete id="deleteById" parameterType="java.lang.Integer">
    delete from t_student_report
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <!--删除查询出来集合里的记录-->
  <delete id="deleteSelect" parameterType="java.lang.Integer">
    delete from t_student_report
    where id in
    <foreach collection="idList" item="list" open="(" separator="," close=")">
      #{list}
    </foreach>
  </delete>

  <!--插入一条记录-->
  <insert id="save" parameterType="com.kclm.owep.entity.StudentReport">
    insert into t_student_report
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="courseName != null">
        course_name,
      </if>
      <if test="chapterName != null">
        chapter_name,
      </if>
      <if test="sectionName != null">
        section_name,
      </if>
      <if test="videoStudyTime != null">
        video_study_time,
      </if>
      <if test="homeworkCount != null">
        homework_count,
      </if>
      <if test="questionCount != null">
        question_count,
      </if>
      <if test="leaveCount != null">
        leave_count,
      </if>
      <if test="illegalCount != null">
        illegal_count,
      </if>
      <if test="noteCount != null">
        note_count,
      </if>
      <if test="examCount != null">
        exam_count,
      </if>
      <if test="fkStudent.id != null">
        fk_student_id,
      </if>
      <if test="lastAccessTime != null">
        last_access_time,
      </if>
      <if test="version != null">
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="courseName != null">
        #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="chapterName != null">
        #{chapterName,jdbcType=VARCHAR},
      </if>
      <if test="sectionName != null">
        #{sectionName,jdbcType=VARCHAR},
      </if>
      <if test="videoStudyTime != null">
        #{videoStudyTime,jdbcType=INTEGER},
      </if>
      <if test="homeworkCount != null">
        #{homeworkCount,jdbcType=INTEGER},
      </if>
      <if test="questionCount != null">
        #{questionCount,jdbcType=INTEGER},
      </if>
      <if test="leaveCount != null">
        #{leaveCount,jdbcType=INTEGER},
      </if>
      <if test="illegalCount != null">
        #{illegalCount,jdbcType=INTEGER},
      </if>
      <if test="noteCount != null">
        #{noteCount,jdbcType=INTEGER},
      </if>
      <if test="examCount != null">
        #{examCount,jdbcType=INTEGER},
      </if>
      <if test="fkStudent.id != null">
        #{fkStudent.id,jdbcType=INTEGER},
      </if>
      <if test="lastAccessTime != null">
        #{lastAccessTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <!--根据id更新记录-->
  <update id="update" parameterType="com.kclm.owep.entity.StudentReport">
    update t_student_report
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="courseName != null">
        course_name = #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="chapterName != null">
        chapter_name = #{chapterName,jdbcType=VARCHAR},
      </if>
      <if test="sectionName != null">
        section_name = #{sectionName,jdbcType=VARCHAR},
      </if>
      <if test="videoStudyTime != null">
        video_study_time = #{videoStudyTime,jdbcType=INTEGER},
      </if>
      <if test="homeworkCount != null">
        homework_count = #{homeworkCount,jdbcType=INTEGER},
      </if>
      <if test="questionCount != null">
        question_count = #{questionCount,jdbcType=INTEGER},
      </if>
      <if test="leaveCount != null">
        leave_count = #{leaveCount,jdbcType=INTEGER},
      </if>
      <if test="illegalCount != null">
        illegal_count = #{illegalCount,jdbcType=INTEGER},
      </if>
      <if test="noteCount != null">
        note_count = #{noteCount,jdbcType=INTEGER},
      </if>
      <if test="examCount != null">
        exam_count = #{examCount,jdbcType=INTEGER},
      </if>
      <if test="fkStudent.id != null">
        fk_student_id = #{fkStudent.id,jdbcType=INTEGER},
      </if>
      <if test="lastAccessTime != null">
        last_access_time = #{lastAccessTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>