<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--学员学习进度报告表的SQL操作-->
<mapper namespace="com.kclm.owep.mapper.StudentNoteMapper">

  <!--实体属性对应相应的表字段-->
  <resultMap id="BaseResultMap" type="com.kclm.owep.entity.StudentNote">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="note_title" jdbcType="VARCHAR" property="noteTitle" />
    <result column="note_content" jdbcType="VARCHAR" property="noteContent" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_access_time" jdbcType="TIMESTAMP" property="lastAccessTime" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <association property="fkStudent" column="fk_student_id" javaType="com.kclm.owep.entity.Student" select="com.kclm.owep.mapper.StudentMapper.selectById"/>
    <association property="fkCourse" column="fk_course_id" javaType="com.kclm.owep.entity.Course" select="com.kclm.owep.mapper.CourseMapper.selectById"/>
    <association property="fkVideo" column="fk_video_id" javaType="com.kclm.owep.entity.Video" select="com.kclm.owep.mapper.VideoMapper.selectById"/>
  </resultMap>

  <!--封装表字段名，方便后续简写使用-->
  <sql id="Base_Column_List">
    id, note_title, note_content, create_time, last_access_time, version, fk_student_id,
    fk_course_id, fk_video_id
  </sql>

  <!--根据id查找记录-->
  <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_student_note
    where id = #{id,jdbcType=INTEGER}
  </select>

  <!--查询所有记录-->
  <select id="selectAll" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_student_note
  </select>

  <!--根据id删除记录-->
  <delete id="deleteById" parameterType="java.lang.Integer">
    delete from t_student_note
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <!--删除查询出来集合里的记录-->
  <delete id="deleteSelect" parameterType="java.lang.Integer">
    delete from t_student_note
    where id in
    <foreach collection="idList" item="list" open="(" separator="," close=")">
      #{list}
    </foreach>
  </delete>

  <!--插入一条记录-->
  <insert id="save" parameterType="com.kclm.owep.entity.StudentNote">
    insert into t_student_note
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="noteTitle != null">
        note_title,
      </if>
      <if test="noteContent != null">
        note_content,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="lastAccessTime != null">
        last_access_time,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="fkStudent.id != null">
        fk_student_id,
      </if>
      <if test="fkCourse.id != null">
        fk_course_id,
      </if>
      <if test="fkVideo.id != null">
        fk_video_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="noteTitle != null">
        #{noteTitle,jdbcType=VARCHAR},
      </if>
      <if test="noteContent != null">
        #{noteContent,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastAccessTime != null">
        #{lastAccessTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
      <if test="fkStudent.id != null">
        #{fkStudent.id,jdbcType=INTEGER},
      </if>
      <if test="fkCourse.id != null">
        #{fkCourse.id,jdbcType=INTEGER},
      </if>
      <if test="fkVideo.id != null">
        #{fkVideo.id,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <!--根据id更新记录-->
  <update id="update" parameterType="com.kclm.owep.entity.StudentNote">
    update t_student_note
    <set>
      <if test="noteTitle != null">
        note_title = #{noteTitle,jdbcType=VARCHAR},
      </if>
      <if test="noteContent != null">
        note_content = #{noteContent,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastAccessTime != null">
        last_access_time = #{lastAccessTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="fkStudent.id != null">
        fk_student_id = #{fkStudent.id,jdbcType=INTEGER},
      </if>
      <if test="fkStudent.id != null">
        fk_course_id = #{fkCourse.id,jdbcType=INTEGER},
      </if>
      <if test="fkVideo.id != null">
        fk_video_id = #{fkVideo.id,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>