<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--用户表的SQL操作-->
<mapper namespace="com.kclm.owep.mapper.UserMapper">

  <!--实体属性对应相应的表字段-->
  <resultMap id="BaseResultMap" type="com.kclm.owep.entity.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_pwd" jdbcType="VARCHAR" property="userPwd" />
    <result column="user_phone" jdbcType="VARCHAR" property="userPhone" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="user_email" jdbcType="VARCHAR" property="userEmail" />
    <result column="email_code" jdbcType="VARCHAR" property="emailCode" />
    <result column="gender" jdbcType="INTEGER" property="gender" />
    <result column="card_num" jdbcType="VARCHAR" property="cardNum" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="effective_date" jdbcType="DATE" property="effectiveDate" />
    <result column="user_type" jdbcType="INTEGER" property="userType" />
    <result column="birth" jdbcType="DATE" property="birth" />
    <result column="image_url" jdbcType="VARCHAR" property="imageUrl" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="perfect_status" jdbcType="INTEGER" property="perfectStatus" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_access_time" jdbcType="TIMESTAMP" property="lastAccessTime" />
    <result column="version" jdbcType="INTEGER" property="version" />
  </resultMap>

  <!--封装表字段名，方便后续简写使用-->
  <sql id="Base_Column_List">
    id, user_name, user_pwd, user_phone, real_name, user_email, email_code, gender, card_num, 
    status, effective_date, user_type, birth, image_url, description, title, perfect_status, 
    is_delete, create_time, last_access_time, version
  </sql>

  <!--根据id查找记录-->
  <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_user
    where id = #{id,jdbcType=INTEGER} and is_delete = 1
  </select>

  <!--查询所有记录-->
  <select id="selectAll" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_user where is_delete = 1
  </select>

  <!--根据id逻辑删除记录,改变is_delete的状态-->
  <delete id="deleteById" parameterType="java.lang.Integer">
    delete from t_user
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <!--逻辑删除查询出来集合里的记录,改变is_delete的状态-->
  <update id="deleteSelect" parameterType="java.lang.Integer">
    update t_user set is_delete = 0
    where id in
    <foreach collection="idList" item="list" open="(" separator="," close=")">
      #{list}
    </foreach>
  </update>

  <!--插入一条记录-->
  <insert id="save" parameterType="com.kclm.owep.entity.User">
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="userPwd != null">
        user_pwd,
      </if>
      <if test="userPhone != null">
        user_phone,
      </if>
      <if test="realName != null">
        real_name,
      </if>
      <if test="userEmail != null">
        user_email,
      </if>
      <if test="emailCode != null">
        email_code,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="cardNum != null">
        card_num,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="effectiveDate != null">
        effective_date,
      </if>
      <if test="userType != null">
        user_type,
      </if>
      <if test="birth != null">
        birth,
      </if>
      <if test="imageUrl != null">
        image_url,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="perfectStatus != null">
        perfect_status,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="lastAccessTime != null">
        last_access_time,
      </if>
      <if test="version != null">
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null">
        #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null">
        #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="realName != null">
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null">
        #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="emailCode != null">
        #{emailCode,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=INTEGER},
      </if>
      <if test="cardNum != null">
        #{cardNum,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="effectiveDate != null">
        #{effectiveDate,jdbcType=DATE},
      </if>
      <if test="userType != null">
        #{userType,jdbcType=INTEGER},
      </if>
      <if test="birth != null">
        #{birth,jdbcType=DATE},
      </if>
      <if test="imageUrl != null">
        #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="perfectStatus != null">
        #{perfectStatus,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastAccessTime != null">
        #{lastAccessTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <!--根据id更新记录-->
  <update id="update" parameterType="com.kclm.owep.entity.User">
    update t_user
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null">
        user_pwd = #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null">
        user_phone = #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="realName != null">
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null">
        user_email = #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="emailCode != null">
        email_code = #{emailCode,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=INTEGER},
      </if>
      <if test="cardNum != null">
        card_num = #{cardNum,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="effectiveDate != null">
        effective_date = #{effectiveDate,jdbcType=DATE},
      </if>
      <if test="userType != null">
        user_type = #{userType,jdbcType=INTEGER},
      </if>
      <if test="birth != null">
        birth = #{birth,jdbcType=DATE},
      </if>
      <if test="imageUrl != null">
        image_url = #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="perfectStatus != null">
        perfect_status = #{perfectStatus,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastAccessTime != null">
        last_access_time = #{lastAccessTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByName" resultType="com.kclm.owep.entity.User">
    select
    <include refid="Base_Column_List" />
    from t_user
    where user_name = #{userName}
  </select>

  <select id="getGroupId" resultType="INTEGER">
    select
     group_id as gid
    from t_user_group
    where user_id = #{id}

  </select>

  <insert id="attachGroupToUser">
    insert into t_user_group(user_id, group_id) value(#{uid},#{gid})
  </insert>


  <delete id="deleteUserGroupAllocation">
    delete from t_user_group where user_id = #{id}
  </delete>

  <select id="selectByType" resultType="com.kclm.owep.entity.User">
    select
    <include refid="Base_Column_List" />
    from t_user
    where user_type =  #{type}
    </select>


</mapper>